<div class="row">
  <div class="col-md-1">
    <button class="btn btn-sm" ng-click="back()">back</button>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4>Follow Up</h4>
        <div class="row">
          <div class="form-group ipsaa-form-group col-md-4">
            <label class="control-label">Disposition</label>
            <select class="form-control" ng-model="workingInquiry.log.callDisposition"
                    ng-options="disposition as disposition for disposition in dispositions">
              <option selected="selected" value="">Select Disposition</option>
            </select>
          </div>
          <div ng-show="workingInquiry.log.callDisposition=='NewInquiry'||
                    workingInquiry.log.callDisposition=='Followup'||
                    workingInquiry.log.callDisposition=='Callback'||
                    workingInquiry.log.callDisposition=='ParentMessage'">
            <div class="form-group ipsaa-form-group col-md-3">
              <div class="form-group ipsaa-form-group">
                <label class="control-label">Callback Date</label>
                <input class="form-control datepicker" id="callBackDate" name="workingInquiry.log.callBackDate" type="text" ng-model="workingInquiry.log.callBackDate">
              </div>
            </div>
            <div class="form-group ipsaa-form-group col-md-2">
              <div class="form-group ipsaa-form-group">
                <label class="control-label">Callback Time</label>
                <input class="form-control timepicker" id="callBackTime" name="workingInquiry.log.callBackTime" type="text" ng-model="workingInquiry.log.callBackTime">
              </div>
            </div>
            <div class="form-group ipsaa-form-group col-md-3">
              <div class="form-group ipsaa-form-group">
                <label class="control-label">Callback Number</label>
                <input class="form-control dropdown-toggle" data-toggle="dropdown" name="workingInquiry.log.callBackNumber" type="text"
                       ng-model="workingInquiry.log.callBackNumber">
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li ng-repeat="number in workingInquiry.numbers | filter: workingInquiry.log.callBackNumber">
                    <a ng-click="workingInquiry.log.callBackNumber = number">{{number}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group ipsaa-form-group col-md-8">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Comment</label>
              <textarea class="form-control" ng-model="workingInquiry.log.comment" row="5" maxlength="500"></textarea>
            </div>
          </div>
          <div class="col-md-2" style="margin-top: 40px;">
            <button class="btn btn-rose btn-fill" ng-click="saveInquiry(workingInquiry)">Save</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <legend>History</legend>
            </div>
          </div>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr>
                  <th>Disposition</th>
                  <th>CallBack Date</th>
                  <th>CallBack Number</th>
                  <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="log in workingInquiry.logs | orderBy:'date'">
                  <td>{{log.callDisposition}}</td>
                  <td>{{log.callBack}}</td>
                  <td>{{log.callBackNumber}}</td>
                  <td>{{log.comment}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4>Inquiry</h4>

        <div class="row">

          <div class="form-group ipsaa-form-group col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Inquiry Number</label>
              <input class="form-control" name="inquiryNumber" type="text" readonly ng-model="workingInquiry.inquiryNumber">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-3">
            <label class="control-label">Lead Source</label>
            <input class="form-control" name="leadSource" ng-model="workingInquiry.leadSource" readonly>
          </div>
          <div class="form-group ipsaa-form-group col-md-3">
            <label class="control-label">Inquiry Type</label>
            <input class="form-control" name="inquiryType" ng-model="workingInquiry.inquiryType" readonly>
          </div>


          <div class="form-group ipsaa-form-group col-md-3">
            <label class="control-label">Center</label>
            <input class="form-control" name="center" ng-model="workingInquiry.centerCode" readonly>
          </div>
          <div class="form-group ipsaa-form-group col-md-3">
            <label class="control-label">Program</label>
            <input class="form-control" name="program" ng-model="workingInquiry.programName" readonly>
          </div>
          <div class="form-group ipsaa-form-group col-md-3">
            <label class="control-label">Group</label>
            <input class="form-control" name="group" ng-model="workingInquiry.groupName" readonly>
          </div>


          <div class="form-group ipsaa-form-group col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Who Visited</label>
              <input class="form-control" name="whoVisited" readonly type="text" ng-model="workingInquiry.whoVisited">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">From Time</label>
              <input class="form-control" name="fromTime" readonly id="fromTime" type="text" ng-model="workingInquiry.fromTime">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">To Time</label>
              <input class="form-control" name="toTime" readonly id="toTime" type="text" ng-model="workingInquiry.toTime">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Fees offer</label>
              <input class="form-control" name="feeOffer" readonly ng-model="workingInquiry.feeOffer">
            </div>
          </div>

          <div class="form-group ipsaa-form-group col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Inquiry Date</label>
              <input class="form-control" id="inquiryDate" readonly name="workingInquiry.inquiryDate" type="text" ng-model="workingInquiry.inquiryDate">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <legend style="margin-bottom: 0px">Child</legend>
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-4">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">First Name</label>
              <input class="form-control" name="childFirstName" type="text" readonly ng-model="workingInquiry.childFirstName">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-4">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Last Name</label>
              <input class="form-control" name="childLastName" type="text" readonly ng-model="workingInquiry.childLastName">
            </div>
          </div>
          <div class="form-group ipsaa-form-group col-md-4">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">DOB(YYYY-MM-DD)</label>
              <input class="form-control datepicker" id="childDob" name="childDob" readonly type="text" ng-model="workingInquiry.childDob">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <legend style="margin-bottom: 0px">Parents</legend>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Father's First Name</label>
              <input class="form-control" name="fatherFirstName" type="text" readonly ng-model="workingInquiry.fatherFirstName">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Father's Last Name</label>
              <input class="form-control" name="fatherLastName" type="text" readonly ng-model="workingInquiry.fatherLastName">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Father's Email</label>
              <input class="form-control" name="fatherEmail" type="text" readonly ng-model="workingInquiry.fatherEmail">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Father's Mobile</label>
              <input class="form-control" name="fatherMobile" type="text" readonly ng-model="workingInquiry.fatherMobile">
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Father's Company</label>
              <input class="form-control" name="fatherCompanyName" type="text" readonly ng-model="workingInquiry.fatherCompanyName">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Mother's First Name</label>
              <input class="form-control" name="motherFirstName" type="text" readonly ng-model="workingInquiry.motherFirstName">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Mother's Last Name</label>
              <input class="form-control" name="motherLastName" type="text" readonly ng-model="workingInquiry.motherLastName">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Mother's Email</label>
              <input class="form-control" name="motherEmail" type="text" readonly ng-model="workingInquiry.motherEmail">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Mother's Mobile</label>
              <input class="form-control" name="motherMobile" type="text" readonly ng-model="workingInquiry.motherMobile">
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group ipsaa-form-group">
              <label class="control-label">Mother's Company</label>
              <input class="form-control" name="motherCompanyName" type="text" readonly ng-model="workingInquiry.motherCompanyName">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>