<div class="row" ng-show="students.length>1">
  <div class="col-md-2">
    <div class="form-group ">
      <label class="control-label">Student</label>
      <select class="form-control" ng-model="selectedStudent" ng-options="student as student.fullName for student in students" ng-change="studentChanged(selectedStudent)">
      </select>
    </div>
  </div>
</div>

<style>

  .zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }

  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .portal-gallery-image {
    width: auto !important;
    height: 100px !important;
  }
</style>
<div class="row">

  <div class="col-md-2" ng-repeat="col in galleryColumns">
    <div class="card borderRadius"
         ng-repeat="photo in col"
         style="background: none; box-shadow: none">
      <div class="text-center">
        <img class="p-2 zoom portal-gallery-image" ng-src="{{S3URL + photo.imagePath}}">
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-sm" ng-click="previousPage()" ng-disabled="currentPage == 1">Previous</button>
    <button class="btn btn-sm" ng-click="nextPage()" ng-disabled="disableNext">Next</button>
  </div>
</div>