<div class="row" ng-show="students.length>1">
  <div class="col-md-2">
    <div class="form-group ">
      <label class="control-label">Student</label>
      <select class="form-control" ng-model="selectedStudent" ng-options="student as student.fullName for student in students" ng-change="studentChanged(selectedStudent)">
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label class="label-control">Select Date</label>
      <input type="text" id="selectedDate" class="form-control datepicker" ng-model="selectedDate"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <form name="SharingSheetForm" class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-md-6">
            <h4>Morning Sharing</h4>
          </div>
          <div class="col-md-offset-4 col-md-2">
            <button class="btn btn-round btn-xs btn-portal" ng-click="saveParentSharingSheet()">Save</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h6 class="btn-portal">Sleep</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="form-group">
              <label class="label-control">Bed Time</label>
              <input type="text" id="bedTime" class="form-control timepicker" ng-model="pss.bedTime"/>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="form-group">
              <label class="label-control">Wakeup Time</label>
              <input type="text" id="wakeupTime" class="form-control timepicker" ng-model="pss.wakeupTime"/>
            </div>
          </div>
          <div class="col-md-6">
            <label class="label-control">Sleep Cycle</label>
            <button class="btn btn-xs" ng-click="pss.sleepCycle = 'Full'" ng-class="pss.sleepCycle == 'Full' ? 'btn-portal' : ''">Full (8-10hrs)</button>
            <button class="btn btn-xs" ng-click="pss.sleepCycle = 'Less'" ng-class="pss.sleepCycle == 'Less' ? 'btn-portal' : ''">Less</button>
            <button class="btn btn-xs" ng-click="pss.sleepCycle = 'More'" ng-class="pss.sleepCycle == 'More' ? 'btn-portal' : ''">More</button>
            <div class="form-group">
              <input class="form-control" placeholder="Reason..." ng-model="pss.sleepReason">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="label-control">Mood</label>
            <button class="btn btn-xs" ng-click="pss.wakeupMood = 'Happy'" ng-class="pss.wakeupMood == 'Happy' ? 'btn-portal' : ''">Happy</button>
            <button class="btn btn-xs" ng-click="pss.wakeupMood = 'Chatty'" ng-class="pss.wakeupMood == 'Chatty' ? 'btn-portal' : ''">Chatty</button>
            <button class="btn btn-xs" ng-click="pss.wakeupMood = 'Sleepy'" ng-class="pss.wakeupMood == 'Sleepy' ? 'btn-portal' : ''">Sleepy</button>
            <button class="btn btn-xs" ng-click="pss.wakeupMood = 'Grumpy'" ng-class="pss.wakeupMood == 'Grumpy' ? 'btn-portal' : ''">Grumpy</button>
            <button class="btn btn-xs" ng-click="pss.wakeupMood = 'Sick'" ng-class="pss.wakeupMood == 'Sick' ? 'btn-portal' : ''">Sick</button>
            <button class="btn btn-xs" ng-click="pss.wakeupMood = 'Tired'" ng-class="pss.wakeupMood == 'Tired' ? 'btn-portal' : ''">Tired</button>
            <input type="text" class="form-control" placeholder="Other..." ng-model="pss.wakeupMood"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h6 class="btn-portal">Morning Rituals</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="">Bowel Movement</label>
            <button class="btn btn-xs" ng-click="pss.bowelMovement = true" ng-class="pss.bowelMovement ? 'btn-portal' : ''">Done</button>
            <button class="btn btn-xs" ng-click="pss.bowelMovement = false" ng-class="!pss.bowelMovement ? 'btn-portal' : ''">Not Done</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h6 class="btn-portal">Hygiene Routine</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <label>Bathed</label>
            <button class="btn btn-xs" ng-click="pss.bathed = true" ng-class="pss.bathed ? 'btn-portal' : ''">Yes</button>
            <button class="btn btn-xs" ng-click="pss.bathed = false" ng-class="!pss.bathed ? 'btn-portal' : ''">No</button>
          </div>
          <div class="col-lg-6">
            <label>Sponged</label>
            <button class="btn btn-xs" ng-click="pss.sponged = true" ng-class="pss.sponged ? 'btn-portal' : ''">Yes</button>
            <button class="btn btn-xs" ng-click="pss.sponged = false" ng-class="!pss.sponged ? 'btn-portal' : ''">No</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label>Mood @ Arrival</label>
            <button class="btn btn-xs" ng-click="pss.arrivalMood = 'Happy'" ng-class="pss.arrivalMood == 'Happy' ? 'btn-portal' : ''">Happy</button>
            <button class="btn btn-xs" ng-click="pss.arrivalMood = 'Good'" ng-class="pss.arrivalMood == 'Good' ? 'btn-portal' : ''">Good</button>
            <button class="btn btn-xs" ng-click="pss.arrivalMood = 'Sleepy'" ng-class="pss.arrivalMood == 'Sleepy' ? 'btn-portal' : ''">Sleepy</button>
            <button class="btn btn-xs" ng-click="pss.arrivalMood = 'Crying'" ng-class="pss.arrivalMood == 'Crying' ? 'btn-portal' : ''">Crying</button>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Other..." ng-model="pss.arrivalMood">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>I have noticed</label>
            <button class="btn btn-xs" ng-click="pss.noticedIssue = 'Runny Nose'" ng-class="pss.noticedIssue == 'Runny Nose' ? 'btn-portal' : ''">Runny Nose</button>
            <button class="btn btn-xs" ng-click="pss.noticedIssue = 'Cough'" ng-class="pss.noticedIssue == 'Cough' ? 'btn-portal' : ''">Cough</button>
            <button class="btn btn-xs" ng-click="pss.noticedIssue = 'Bruises/Marks'" ng-class="pss.noticedIssue == 'Bruises/Marks' ? 'btn-portal' : ''">Bruises/Marks</button>
            <button class="btn btn-xs" ng-click="pss.noticedIssue = 'Diarrhea'" ng-class="pss.noticedIssue == 'Diarrhea' ? 'btn-portal' : ''">Diarrhea</button>
            <button class="btn btn-xs" ng-click="pss.noticedIssue = 'Congestion'" ng-class="pss.noticedIssue == 'Congestion' ? 'btn-portal' : ''">Congestion</button>
            <button class="btn btn-xs" ng-click="pss.noticedIssue = 'Rash'" ng-class="pss.noticedIssue == 'Rash' ? 'btn-portal' : ''">Rash</button>
            <input type="text" class="form-control" placeholder="Other..." ng-model="pss.noticedIssue">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input class="form-control" placeholder="Today's sharing..." ng-model="pss.sharing">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h6 class="btn-portal">Food Intake</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Food.." ng-model="fe.food">
          </div>
          <div class="col-md-3">
            <input type="text" id="feedTime" class="form-control timepicker" placeholder="time" ng-model="fe.entryAt">
          </div>
          <div class="col-md-4">
            <button class="btn btn-xs" ng-click="fe.feedQty = 'Some'" ng-class="fe.feedQty == 'Some' ? 'btn-portal' : ''">SOME</button>
            <button class="btn btn-xs" ng-click="fe.feedQty = 'Most'" ng-class="fe.feedQty == 'Most' ? 'btn-portal' : ''">MOST</button>
            <button class="btn btn-xs" ng-click="fe.feedQty = 'All'" ng-class="fe.feedQty == 'All' ? 'btn-portal' : ''">ALL</button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-xs btn-round btn-portal" ng-click="addFood()">Add</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-bordered">
              <thead>
              <th>Item</th>
              <th>Time</th>
              <th>Qty</th>
              </thead>
              <tbody>
              <tr ng-repeat="entry in pss.entries">
                <td>{{entry.food}}</td>
                <td>{{entry.entryAt}}</td>
                <td>{{entry.feedQty}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Signed By: {{pss.signedBy}} (Parent)
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-content" ng-if="sharingSheet">
        <h3>{{sharingSheet.studentName}} | {{ sharingSheet.sharingDate | date}}</h3>

        <table class="table table-bordered">
          <thead class="text-portal">
          <tr>
            <th>Time</th>
            <th>&nbsp;</th>
            <th>Notes</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="entry in sharingSheet.entries">
            <td ng-if="entry.entryAt">{{entry.entryAt}}</td>
            <td ng-if="entry.entryFrom">{{entry.entryFrom}}</td>
            <td>
              {{getLabel(entry)}}
              <label class="btn btn-portal btn-xs" ng-if="entry.feedQty">{{entry.feedQty}}</label>
            </td>
            <td>{{entry.notes}}</td>
          </tr>
          <tr>
            <td colspan="3">
              <h6>Notes</h6>
              <p>{{sharingSheet.notes}}</p>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <h6>Needs:</h6>
              <p>{{sharingSheet.needs}}</p>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <span>Signed By: (Mentor)</span><span>{{sharingSheet.signedBy}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-content" ng-if="!sharingSheet">
        Missing sharing sheet for {{selectedDate}}
      </div>
    </div>
  </div>
</div>