.idea/
.settings/
.classpath
.project
*.iml
/src/main/webapp

.*log
/target
/src/main/webapp/kidslife/
/data
/node_modules/


# compiled output
/src/main/anguler/dist
/src/main/anguler/dist-server
/src/main/anguler/tmp
/src/main/anguler/out-tsc

# dependencies
/src/main/anguler/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/src/main/anguler/e2e/*.js
/src/main/anguler/e2e/*.map

# System Files
.DS_Store
Thumbs.db
