.idea/
.settings/
.classpath
.project
*.iml
/src/main/webapp/package-lock.json
/src/main/webapp/components/*
/src/main/webapp/node_modules/
/src/main/webapp/dist/
package-lock.json
/src/main/webapp/mis/index.html
/src/main/webapp/pp/index.html
/src/main/webapp/pp/checkout.html
/src/main/resources/application.properties

.*log
/target
/src/main/webapp/kidslife/
/data
