<div class="card">
  <form id="EditFoodMenuForm" name="EditFoodMenuForm" novalidate>
    <div class="card-header card-header-icon" data-background-color="orange">
      <i class="material-icons">store</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">{{mode}} Food Menu</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">*Date (YYYY-MM-DD)</label>
            <input class="form-control" name="code" type="text" required ng-model="menu.date" ng-readonly="show">
            <span class="material-input"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Breakfast</label>
            <input class="form-control" name="name" type="text" required ng-model="menu.breakfast" ng-readonly="show">
            <span class="material-input"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Lunch</label>
            <input class="form-control" name="name" type="text" required ng-model="menu.lunch" ng-readonly="show">
            <span class="material-input"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Dinner</label>
            <input class="form-control" name="name" type="text" required ng-model="menu.dinner" ng-readonly="show">
            <span class="material-input"></span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover foomenu-table">
          <thead class="text-primary">
          <tr>
            <th>Date</th>
            <th>Break Fast</th>
            <th>Lunch</th>
            <th>Dinner</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>01-01-2017</td>
              <td><div class="form-group"><input class="form-control"></div></td>
              <td><div class="form-group"><input class="form-control"></div></td>
              <td><div class="form-group"><input class="form-control"></div></td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="category form-category">
        *Required Fields
      </div>
      <div class="form-footer text-right">
        <button ng-hide="show" class="btn btn-rose btn-fill" ng-click="saveFood(menu)">Save</button>
        <button ng-hide="show" class="btn btn-default" ng-click="cancelFood()">Cancel</button>
      </div>
    </div>
  </form>
</div>