<div class="card">
  <form id="EditCenterForm" name="EditCenterForm" novalidate>
    <div class="card-header card-header-icon" data-background-color="orange">
      <i class="material-icons">store</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">{{mode}} Holiday</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">*Name</label>
            <input class="form-control" name="name" type="text" required ng-model="holiday.name" ng-readonly="show">
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">*Date (YYYY-MM-DD)</label>
            <input class="form-control datepicker" id="holidayDate" name="code" type="text" required ng-model="holiday.holidayDate" ng-readonly="show">
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Add Center</label>
            <select class="form-control" ng-model="holiday.selectedCenter" ng-options="center.name for center in centerList track by center.code"
                    ng-disabled="show" ng-change="addCenter(holiday.selectedCenter)">
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Center(s)</label>
            <button class="btn btn-info btn-xs btn-round" ng-repeat="center in holiday.centers">
              {{center.name}}<i ng-hide="show" class="material-icons" ng-click="removeCenter($index)">close</i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="checkbox" style="padding-top: 45px;">
              <label>
                <input ng-disabled="show" ng-click="holiday.floating = !holiday.floating" type="checkbox" ng-checked="holiday.floating">
                Floating
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="checkbox" style="padding-top: 45px;">
              <label>
                <input ng-disabled="show" ng-click="holiday.optional = !holiday.optional" type="checkbox" ng-checked="holiday.optional">
                Optional
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="category form-category">
        *Required Fields
      </div>
      <div class="form-footer text-right">
        <button ng-hide="show" class="btn btn-rose btn-fill" ng-click="saveHoliday(holiday)">Save</button>
        <button class="btn btn-default" ng-click="cancelHoliday()">Cancel</button>
      </div>
    </div>
  </form>
</div>