<div class="row">
  <div class="col-md-6">
    <ul class="nav nav-pills nav-pills-warning">
      <li class="active">
        <a data-toggle="tab" aria-expanded="true" ng-click="selectTab(0)">Program Fees</a>
      </li>
      <li>
        <a data-toggle="tab" ng-click="selectTab(1)">Additional Charges</a>
      </li>
      <li>
        <a data-toggle="tab" ng-click="selectTab(2)">Charge List</a>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label class="control-label">Center:</label>
      <select class="form-control" ng-model="selectedCenter"ng-options="center as center.name for center in centers" ng-change="loadCenterFee()">
        <option value="">Select Center</option>
      </select>
      <span class="material-input"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="tab-content">
      <div class="tab-pane active" id="programfee">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">chrome_reader_mode</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Program Fee</h4>
            <button class="btn btn-info btn-xs" ng-click="newProgramFee()" ng-show="selectedCenter">NEW</button>
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover" ng-show="selectedCenter">
                <thead>
                <tr>
                  <th>Program</th>
                  <th>Fee</th>
                  <th>Annual Charges</th>
                  <th>Security Deposit</th>
                  <th>Admission Fee</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="fee in feelist">
                  <td>{{fee.program.code}} - {{fee.program.name}}</td>
                  <td>{{fee.fee}}</td>
                  <td>{{fee.annualFee}}</td>
                  <td>{{fee.deposit}}</td>
                  <td>{{fee.admissionFee}}</td>
                  <td>
                    <div class="buttons">
                      <button type="button" class="btn btn-primary btn-xs" ng-click="editProgramFee(fee)">edit</button>
                      <button type="button" class="btn btn-danger btn-xs" ng-click="deleteProgramFee(fee)">del</button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="additionalcharges">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">chrome_reader_mode</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Additional Charges</h4>
            <button class="btn btn-info btn-xs" ng-click="newCenterCharge()" ng-show="selectedCenter">New</button>
            <div class="table-responsive">
              <table class="table table-striped table-hover" ng-show="selectedCenter">
                <thead>
                <tr>
                  <th>Charge</th>
                  <th>Amount</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="charge in chargelist">
                  <td>{{charge.charge.name}}</td>
                  <td>{{charge.amount}}</td>
                  <td>
                    <div class="buttons">
                      <button type="button" class="btn btn-primary btn-xs" ng-click="editCenterCharge(charge)">edit</button>
                      <button type="button" class="btn btn-danger btn-xs" ng-click="deleteCenterCharge(charge)">del</button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane" id="chargelist">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">chrome_reader_mode</i>
              </div>
              <div class="card-content">
                <h4 class="card-title">Charge List</h4>
                <button class="btn btn-info btn-xs" ng-click="newCharge()">New</button>
                <div class="table-responsive">
                  <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                      <th>Charge</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="charge in charges">
                      <td>{{charge.name}}</td>
                      <td>
                        <div class="buttons">
                          <button type="button" class="btn btn-primary btn-xs" ng-click="editCharge(charge)">edit</button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" ng-show="addcharge">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">chrome_reader_mode</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Charge</h4>

        <form name="ChargeForm">
          <div class="form-group">
            <label class="control-label">Name*</label>
            <input class="form-control" name="name" type="text" required ng-model="insertedCharge.name">
            <span class="material-input"></span>
          </div>
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-click="saveCharge(insertedCharge)" ng-disabled="ChargeForm.$invalid">Save</button>
            <button class="btn btn-default" ng-click="cancelCharge()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4" ng-show="addcentercharge&&selectedCenter">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">chrome_reader_mode</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Additional Charge</h4>
        <form name="CenterChargeForm">
          <div class="form-group">
            <label class="control-label">Charge*</label>
            <select class="form-control" required ng-model="insertCenterCharge.charge" ng-options="charge.id as charge.name for charge in charges">
              <option value="">Add..</option>
            </select>
          </div>

          <div class="form-group">
            <label class="control-label">Amount*</label>
            <input class="form-control" name="name" type="text" required ng-model="insertCenterCharge.amount">
            <span class="material-input"></span>
          </div>

          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-click="saveCenterCharge()" ng-disabled="CenterChargeForm.$invalid">Save</button>
            <button class="btn btn-default" ng-click="cancelCenterCharge()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4" ng-show="addprogramfee&&selectedCenter">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">chrome_reader_mode</i>
      </div>
      <div class="card-content">

        <form name="ProgramFeeForm">

          <h4 class="card-title">Program Fee</h4>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Program*</label>
                <select class="form-control" required ng-model="insertProgramFee.program" ng-options="program.id as program.name for program in programs">
                  <option value="">Add..</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">


                <label class="control-label">Fee*</label>
                <input class="form-control" name="fee" type="number" required ng-model="insertProgramFee.fee">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">


                <label class="control-label">Annual Fee*</label>
                <input class="form-control" name="annualFee" type="number" required ng-model="insertProgramFee.annualFee">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Security Deposit*</label>
                <input class="form-control" name="fee" type="number" required ng-model="insertProgramFee.deposit">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Admission Fee*</label>
                <input class="form-control" name="fee" type="number" required ng-model="insertProgramFee.admissionFee">
              </div>
            </div>
            
            <div class="col-md-4" ng-if="insertProgramFee.cgst" ng-show="insertProgramFee.center_state.toUpperCase() == 'HARYANA'">
              <div class="form-group">
                <label class="control-label">C-GST</label>
                <input class="form-control" name="cgst" type="number" ng-model="insertProgramFee.cgst" readonly>
              </div>
            </div>

            <div class="col-md-4" ng-if="insertProgramFee.sgst" ng-show="insertProgramFee.center_state.toUpperCase() == 'HARYANA'">
              <div class="form-group">
                <label class="control-label">S-GST</label>
                <input class="form-control" name="sgst" type="number" ng-model="insertProgramFee.sgst" readonly>
              </div>
            </div>
          </div>
          <div class="row" ng-if="insertProgramFee.igst">
            <div class="col-md-4" ng-show="insertProgramFee.center_state.toUpperCase() != 'HARYANA'">
              <div class="form-group">
                <label class="control-label">I-GST</label>
                <input class="form-control" name="sgst" type="number" ng-model="insertProgramFee.igst" readonly>
              </div>
            </div>
          </div>


          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-click="saveProgramFee()" ng-disabled="disableSave || ProgramFeeForm.$invalid">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disableSave"></i>
              Save
            </button>
            <button class="btn btn-default" ng-click="cancelProgramFee()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>
