<div class="row">
  <div class="col-md-6">
    <ul class="nav nav-pills nav-pills-warning">
      <li class="active">
        <a data-toggle="tab" aria-expanded="true" ng-click="selectTab(0)">Centers</a>
      </li>
      <li>
        <a data-toggle="tab" ng-click="selectTab(1)">Zones</a>
      </li>
      <li>
        <a data-toggle="tab" ng-click="selectTab(2)">Cities</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">

  <div class="col-md-8">
    <div class="tab-content">
      <div class="tab-pane active" id="centers">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">store</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Centers</h4>
            <button class="btn btn-info btn-sm" ng-click="newCenter()">New Center</button>
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr>
                  <th>Code</th>
                  <th>Capacity</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Zone</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="center in centers">
                  <td>{{center.code}}</td>
                  <td>{{center.capacity}}</td>
                  <td>{{center.name}}</td>
                  <td>{{center.type}}</td>
                  <td>{{center.address.address}}</td>
                  <td>{{center.address.city}}</td>
                  <td>{{center.zone.name}}</td>
                  <td>
                    <div class="buttons" ng-show="!editcenter">
                      <button type="button" class="btn btn-primary btn-xs btn-tbl" ng-click="editCenter(center)">edit</button>
                      <button type="button" class="btn btn-danger btn-xs btn-tbl" ng-click="removeCenter(center)">del</button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane" id="zones">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">store</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Zones</h4>
            <button class="btn btn-info btn-sm" ng-click="newZone()">New Zone</button>
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr>
                  <th>Name</th>
                  <th>Cities</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tr ng-repeat="zone in zones">
                  <td>{{zone.name}}</td>
                  <td>
                    <span ng-repeat="c in zone.cities" class="label label-info">{{c.name}}</span>
                  </td>
                  <td>
                    <div class="buttons" ng-show="!editzone">
                      <button type="button" class="btn btn-primary btn-xs" ng-click="editZone(zone)">edit</button>
                      <button type="button" class="btn btn-danger btn-xs" ng-click="removeZone(zone)">del</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="cities">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">store</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Cities</h4>
            <button class="btn btn-info btn-sm" ng-click="newCity()">New City</button>
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr>
                  <th>Name</th>
                  <th>Zone</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tr ng-repeat="city in cities">
                  <td>{{city.name}}</td>
                  <td>
                    <span class="label label-info">{{city.zone}}</span>
                  </td>
                  <td>
                    <div class="buttons" ng-show="!editcity">
                      <button type="button" class="btn btn-primary btn-xs" ng-click="editCity(city)">edit</button>
                      <button type="button" class="btn btn-danger btn-xs" ng-click="removeCity(city)">del</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-4" ng-show="editcenter||addcenter">
    <div class="card">
      <form id="EditCenterForm" name="EditCenterForm" novalidate>
        <div class="card-header card-header-icon" data-background-color="orange">
          <i class="material-icons">store</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">{{insertedCenter.mode}} Center</h4>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Code</label>
                <input class="form-control" name="code" type="text" required ng-model="insertedCenter.code" ng-readonly="editcenter">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Name</label>
                <input class="form-control" name="name" type="text" required ng-model="insertedCenter.name">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Type</label>
                <select class="form-control" ng-model="insertedCenter.type">
                  <option value="Corporate">Corporate</option>
                  <option value="Community">Community</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Capacity</label>
                <input class="form-control" name="capacity" type="number" required ng-model="insertedCenter.capacity">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Zone</label>
                <select class="form-control" ng-model="insertedCenter.zone" required ng-options="zone.name as zone.name for zone in zones"></select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Phone</label>
                <input class="form-control" name="phone" type="text" required ng-model="insertedCenter.phone">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">*Address</label>
                <input class="form-control" name="address" type="text" required ng-model="insertedCenter.address">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*City</label>
                <select class="form-control" ng-model="insertedCenter.city" required
                        ng-options="city.name as city.name for city in ((zones | nameFilter:insertedCenter.zone)[0].cities)"></select>

                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*State</label>
                <!-- <input class="form-control" name="state" type="text" required ng-model="insertedCenter.state">
                <span class="material-input"></span> -->
                <select class="form-control" ng-options="state.name as state.name for state in states" ng-model="insertedCenter.state">
            </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Zipcode</label>
                <input class="form-control" name="zipcode" type="text" required ng-model="insertedCenter.zipcode">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-disabled="disableSave || EditCenterForm.$invalid" ng-click="saveCenter(insertedCenter)">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disableSave"></i>
              Save
            </button>
            <button class="btn btn-default" ng-click="cancelCenter()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-4" ng-show="editzone">
    <div class="card">
      <form id="EditGroupForm" novalidate>
        <div class="card-header card-header-icon" data-background-color="orange">
          <i class="material-icons">store</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">{{insertedZone.mode}} Zone</h4>
          <div class="form-group">
            <label class="control-label">Name*</label>
            <input class="form-control" name="name" type="text" required ng-model="insertedZone.name">
            <span class="material-input"></span>
          </div>
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-click="saveZone(insertedZone)">Save</button>
            <button class="btn btn-default" ng-click="cancelZone()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-4" ng-show="editcity">
    <div class="card">
      <form id="EditCityForm" novalidate>
        <div class="card-header card-header-icon" data-background-color="orange">
          <i class="material-icons">store</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">{{insertedCity.mode}} City</h4>
          <div class="form-group">
            <label class="control-label">Name*</label>
            <input class="form-control" name="name" type="text" required ng-model="insertedCity.name">
            <span class="material-input"></span>
          </div>
          <div class="form-group">
            <label class="control-label">Zone*</label>
            <select class="form-control" data-style="select-with-transition" ng-model="insertedCity.zone"
                    title="Single Select" data-size="7" ng-options="zone.name as zone.name for zone in zones">
              <option value="">Select</option>
            </select>

            <span class="material-input"></span>
          </div>

          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-click="saveCity(insertedCity)">Save</button>
            <button class="btn btn-default" ng-click="cancelCity()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>