<div class="card">
  <form id="EditSalaryForm" novalidate>
    <div class="card-header card-header-icon" data-background-color="rose">
      <i class="material-icons">account_box</i>
    </div>
    <div class="card-content">
      <div class="card-title">
        <h4 ng-if="show || edit">{{runningSalary.firstName}}&nbsp;{{runningSalary.lastName}}</h4>
        <h4 ng-if="add">Add Salary</h4>
      </div>


      <div ng-show="add" class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Employee</label>
            <select class="form-control" ng-model="selectedEmployee" ng-change="employeeChanged(selectedEmployee)" ng-options="employee as employee.name for employee in employees | orderBy:'name'">
              <option value="" selected="selected">Select Employee</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">EID* : </label>
            <input class="form-control" name="empId" type="text" readonly required ng-model="runningSalary.eid">
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Employer* : </label>
            <input class="form-control" name="employer" type="text" readonly required ng-model="runningSalary.employer">
            <span class="material-input"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Ctc*</label>
            <input class="form-control" name="ctc" type="number" required ng-model="runningSalary.ctc" ng-readonly="show" ng-change="onChange()">
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Basic*</label>
            <input class="form-control" name="basic" type="number" required ng-model="runningSalary.basic" readonly>
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Bonus*</label>
            <input class="form-control" name="bonus" type="number" required ng-model="runningSalary.bonus" readonly>
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Conveyance*</label>
            <input class="form-control" name="conveyance" type="number" required ng-model="runningSalary.conveyance" ng-change="onChange()" readonly>
            <span class="material-input"></span>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">HRA*</label>
            <input class="form-control" name="hra" type="number" required ng-model="runningSalary.hra" readonly>
            <span class="material-input"></span>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Special*</label>
            <input class="form-control" name="special" type="number" required ng-model="runningSalary.special" readonly>
            <span class="material-input"></span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Extra Monthly Fixed Allowance</label>
            <input class="form-control" name="extra_allowance" type="number" ng-model="runningSalary.extraMonthlyAllowance" ng-readonly="show" ng-change="onChange()">
            <span class="material-input"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label"><b>Gross Salary</b></label>
            <input class="form-control" name="earning" type="number" required ng-model="runningSalary.grossSalary" readonly>
            <span class="material-input"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <input type="checkbox" name="esid" ng-model="runningSalary.esid" ng-change="onChange()">
            <label class="control-label">ESI*</label>
            <input class="form-control" name="esi" type="number"
                   ng-disabled="!runningSalary.esid"
                   required ng-model="runningSalary.esi" readonly>
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="checkbox" name="pfd" ng-model="runningSalary.pfd" ng-change="onChange()">
            <label class="control-label">PF*(employee)</label>
            <input class="form-control" name="pf" type="number"
                   ng-disabled="!runningSalary.pfd"
                   required ng-model="runningSalary.pfe" readonly>
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="checkbox" name="esid" ng-model="runningSalary.pfd" ng-change="onChange()">
            <label class="control-label">PF*</label>
            <input class="form-control" name="pf" type="number"
                   ng-disabled="!runningSalary.pfd"
                   required ng-model="runningSalary.pfr" readonly>
            <span class="material-input"></span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <input type="checkbox" name="pftax" ng-model="runningSalary.profd" ng-change="onChange()" disabled readonly>
            <label class="control-label">Professional Tax*</label>
            <input class="form-control" name="pf" type="number"
                   ng-disabled="!runningSalary.profd"
                   required ng-model="runningSalary.professionalTax"  readonly>
            <span class="material-input"></span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Retention*</label>
            <input class="form-control" name="retention" type="number" required ng-model="runningSalary.retention" ng-readonly="show">
            <span class="material-input"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label"><b>Net Salary</b></label>
            <input class="form-control" name="deduction" type="number" required ng-model="runningSalary.netSalary" readonly>
            <span class="material-input"></span>
          </div>
        </div>
      </div>


      <div class="category form-category">
        *Required Fields
      </div>
      <div class="form-footer text-right">
        <button ng-show="edit || add" class="btn btn-rose btn-fill" ng-click="saveSalary(runningSalary)">Save</button>
        <button class="btn btn-default" ng-click="cancelSalary()">Cancel</button>
      </div>

    </div>
  </form>
</div>