<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Center:</label>
      <select class="form-control" ng-model="selectedCenter" ng-options="center as center.name for center in centers" >
        <option value="">Select Center</option>
      </select>
      <span class="material-input"></span>
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Quarter:</label>
      <!-- <select class="form-control"
      ng-model="selectedQuarter"
      ng-options="quarter.quarter as quarterNames[quarter.quarter-1] for quarter in dropdownData | filter: {duration: selectedPeriod}"
      ng-change="setSlips([])"></select> -->
      <select class="form-control" ng-model="selectedQuarter" ng-options="quarter.value as quarter.name for quarter in quarters"></select>
      <span class="material-input"></span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Year:</label>
      <!-- <select class="form-control"
        ng-model="selectedYear"
        ng-options="y as y for y in getYears(selectedPeriod,selectedMonth,selectedQuarter)"
        ng-change="setSlips([])">
      </select> -->
      <select class="form-control" ng-model="selectedYear" ng-options="year as year for year in years">
      </select>
      <span class="material-input"></span>
    </div>
  </div>
  <div class="col-md-3">
    <button class="btn btn-info mt-4" ng-click="getFeeSlips()" ng-disabled="generateSlipDisable">
      <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="generateSlipDisable"></i>GET/GENERATE
    </button>
  </div>
</div>


<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Student Fee Slip</h4>
        <div class="row" ng-show="studentfeelist.length > 0">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-labe">Search</label>
              <input class="form-control" ng-model="search">
            </div>
          </div>
        </div>
        <div ng-show="studentfeelist.length>0">*Downloading slips may take several minutes.</div>
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-info" ng-click="downloadSlips()" ng-show="studentfeelist.length>0" ng-disabled="generateSlipPdfDisable">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="generateSlipPdfDisable"></i>Download slips
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-info" ng-click="showPanel = 'email'" ng-show="studentfeelist.length>0" ng-disabled="sendPaymentLinkDisable">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="sendPaymentLinkDisable"></i>Send Email
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-info" ng-click="generateFeeSlip()" ng-show="studentfeelist.length>0" ng-disabled="generateSlip">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="generateSlip"></i>Lock
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-info" ng-click="reGenerateFeeSlips()" ng-show="studentfeelist.length>0">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="reGenerateSlipLoader"></i>Regenerate
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-condensed table-striped table-hover">
            <thead class="text-primary">
            <tr>
              <th><input type="checkbox" class="checkbox" ng-change="toggleAll(allchecked)" ng-model="allchecked"/></th>
              <th>Sr No.</th>
              <th>Student</th>
              <th>Program/Group</th>
              <th>Fee</th>
              <th>Extra Charges</th>
              <th>Late Payment</th>
              <th>Final Fee</th>
              <th>Status</th>
              <th>Locked</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="studentfee in studentfeelist | filter: search">
              <td><input type="checkbox" class="checkbox" ng-model="studentfee.selected" ng-click="toggleOneSlip(studentfee)"></td>
              <td>{{ $index + 1 }}</td>
              <td ng-click="showDetails(studentfee)">{{studentfee.fullName}}</td>
              <td ng-click="showDetails(studentfee)">
                <span class="label label-info">{{studentfee.center}}</span>
                <span class="label label-info">{{studentfee.program}}</span>
                <span class="label label-info">{{studentfee.group}}</span>
              </td>
              <td ng-click="showDetails(studentfee)">{{studentfee.fee}}</td>
              <td ng-click="showDetails(studentfee)">{{studentfee.extraCharge}}</td>
              <td ng-click="showDetails(studentfee)">{{studentfee.latePaymentCharge}}</td>
              <td ng-click="showDetails(studentfee)">{{studentfee.totalFee}}</td>
              <td ng-click="showDetails(studentfee)">{{studentfee.status}}</td>
              <td> 
                <span ng-show="studentfee.generateActive" >✓</span>
                <span ng-hide="studentfee.generateActive" >✗</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">

    <div class="card" ng-show="showPanel == 'slip'">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">chrome_reader_mode</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Fee Slip - {{selected.fullName}}</h4>
        <span class="label label-info">{{selected.center}}</span>
        <span class="label label-info">{{selected.program}}</span>
        <span class="label label-info">{{selected.group}}</span>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Annual Charges</label>
              <input class="form-control" type="text" ng-model="selected.annualFee" readonly>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Discount <sup>(%)</sup></label>
              <input class="form-control" type="text" ng-model="selected.annualFeeDiscount" readonly>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Final Annual Charges
              </label>
              <input class="form-control" type="text" ng-model="selected.finalAnnualCharges" readonly>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Admission Charges</label>
              <input class="form-control" type="text" ng-model="selected.admissionFee" readonly>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Discount <sup>(%)</sup></label>
              <input class="form-control" type="text" ng-model="selected.addmissionFeeDiscount" readonly>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Final Admission Charges &nbsp;
              </label>
              <input class="form-control" type="text" ng-model="selected.finalAdmissionFee" readonly>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Monthly Program Fees</label>
              <input class="form-control" type="text" ng-model="selected.baseFee" readonly>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Discount <sup>(%)</sup></label>
              <input class="form-control" type="text" ng-model="selected.baseFeeDiscount" readonly>
            </div>
            </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Final Monthly Fees &nbsp;
              </label>
              <input class="form-control" type="text" ng-model="selected.finalBaseFee" readonly>
            </div>
        </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Security Deposit</label>
              <input class="form-control" type="text" ng-model="selected.deposit" readonly>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Discount <sup>(%)</sup></label>
              <input class="form-control" type="text" ng-model="selected.depositFeeDiscount" readonly>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Final Security Deposit &nbsp;
              </label>
              <input class="form-control" type="text" ng-model="selected.finalDepositFee" readonly>
            </div>
          </div>
        
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Monthly Transport Fees</label>
              <input class="form-control" type="text" ng-model="selected.transportFee" readonly>
            </div>
          </div>
        
          <!-- <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Final Transport Fees &nbsp;
              </label>
              <input class="form-control" type="text" ng-model="selected.finalTransportFees" readonly>
            </div>
          </div> -->        
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Annual-Fee-GST
                &nbsp;<a href="#" data-toggle="tooltip" title="18% If Applicable">
                  <i class="fa fa-info"></i>
                </a>
              </label>
              <input class="form-control" type="text" ng-model="selected.gstFee" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Quarterly-Program-Fee-GST
                &nbsp;<a href="#" data-toggle="tooltip" title="18% If Applicable">
                  <i class="fa fa-info"></i>
                </a>
              </label>
              <input class="form-control" type="text" ng-model="selected.baseFeeGst" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Fee Ratio</label>
              <input class="form-control" type="number" ng-model="selected.feeRatio" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Uniform Charges</label>
              <input class="form-control" type="number" ng-model="selected.uniformCharges" ng-change="calculateFinalFee(selected)">
            </div>
          </div>        
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" ng-readonly="true">Stationery Charges</label>
              <input class="form-control" type="number" ng-model="selected.stationary" ng-change="calculateFinalFee(selected)">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" readonly>Fee</label>
              <input class="form-control" type="text" readonly ng-model="selected.actualBaseFee">
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Balance</label>
              <input class="form-control" type="number"
              ng-model="selected.balance" readonly>
            </div>
          </div><!--Balance-->
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Extra</label>
              <input class="form-control" type="number" ng-model="selected.extraCharge" ng-change="calculateFinalFee(selected)" ng-readonly="selected.status=='Paid'">
          </div>
          </div><!--Extra Charges-->
        </div>

        

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Late Payment</label>
              <input class="form-control" type="number" ng-change="calculateFinalFee(selected)" ng-model="selected.latePaymentCharge
              
              " ng-readonly="selected.status=='Paid'">
            </div>
          </div><!--Late Payment-->
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Adjust</label>
              <input class="form-control" type="number" ng-change="calculateFinalFee(selected)" ng-model="selected.adjust" ng-readonly="selected.status=='Paid'">
            </div>
          </div><!--Adjust Payment-->

          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Final fee
              </label>
              <input class="form-control" type="text" readonly ng-model="selected.totalFee">
            </div>
          </div><!--Final Fee-->
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Comments*</label>
              <textarea class="form-control" type="text" row="2" required ng-model="selected.comments" ng-readonly="selected.status=='Paid'"></textarea>
            </div>
          </div>
          <div class="col-md-12" ng-show="selected.autoComments">
            <div class="form-group">
              <label class="control-label">Auto Comments*</label>
              <textarea class="form-control" type="text" row="2" required ng-model="selected.autoComments" readonly></textarea>
            </div>
          </div>

        </div>

        <div class="tab-pane active" id="controls">
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-click="saveStudentSlip()" ng-disabled="selected.generateActive">Save</button>
            <button class="btn btn-rose btn-fill" ng-click="reGenerateSlip(selected.id)" ng-disabled="selected.generateActive">Regenerate</button>
            <button class="btn btn-default" ng-click="cancelStudentSlip()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-show="showPanel == 'email'">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">chrome_reader_mode</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Send email to parents</h4>

        <h4>Note: To add payment link in email add {paymentlink} in email body.</h4>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Subject</label>
              <input type="text" class="form-control" ng-model="slipEmail.subject">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Message</label>
              <div id="slipEmailMessage" class="form-control" contenteditable="true" style="min-height: 200px;overflow: scroll;"></div>
            </div>
          </div>
        </div>

        <div class="tab-pane active">
          <div class="form-footer text-right">
            <div><span>This email will sent to {{checkedSlipCount}} student's parents.</span></div>

            <button class="btn btn-rose btn-fill" ng-click="sendSlipEmail(studentfeelist, slipEmail)" ng-show="checkedSlipCount > 0">

              Send
            </button>
            <button class="btn btn-default" ng-click="cancelSlipEmail">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>