<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">account_box</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">{{foodMenuList.mode}} Food Menu</h4>
        <div class="row">

          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="form-group">
              <label class="control-label">Zone:</label>
              <select class="form-control"
                      ng-model="selectedZone"
                      ng-change="zoneChanged(selectedZone)"
                      ng-options="zone as zone.name for zone in zoneList">
                <option value="">Select Zone</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="form-group">
              <label class="control-label">Month:</label>
              <select class="form-control" ng-model="selectedMonth" ng-change="monthChanged(selectedMonth)">
                <option value="">Select Month</option>
                <option ng-repeat="month in months" value="{{$index}}">{{month}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1">
            <button class="btn btn-info" ng-click="getMenuList()" ng-disabled="generateDisable">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="generateDisable"></i>
              get/generate
            </button>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-info" ng-click="save()" ng-disabled="saveDisable" ng-show="saveShow">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="saveDisable"></i>
              save
            </button>
          </div>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover foodmenu-table" style="min-width: 600px">
                <thead class="text-primary">
                <tr>
                  <th>Date</th>
                  <th>Break Fast</th>
                  <th>Lunch</th>
                  <th>Dinner</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="menu in foodMenuList.list">
                  <td style="padding: 1px 3px;">{{menu.date | date : 'dd-MMM-yyyy' : 'IST'}}</td>
                  <td style="padding: 1px 3px;">
                    <div class="form-group foodmenu-div"><input type="text" class="form-control" ng-model="menu.breakfast"></div>
                  </td>
                  <td style="padding: 1px 3px;">
                    <div class="form-group foodmenu-div"><input type="text" class="form-control" ng-model="menu.lunch"></div>
                  </td>
                  <td style="padding: 1px 3px;">
                    <div class="form-group foodmenu-div"><input type="text" class="form-control" ng-model="menu.dinner"></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>