<div ng-show="hasStatPrivilege">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6">
      <label class="control-label">Zone:</label>
      <select class="form-control" ng-model="selectedZone" ng-options="zone as zone.name for zone in zones" ng-change="zoneChange()">
        <option value="">ALL</option>
      </select>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <label class="control-label">City:</label>
      <select class="form-control" ng-model="selectedCity" ng-options="city as city.name for city in cities" ng-change="cityChange()">
        <option value="">ALL</option>
      </select>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <label class="control-label">Center:</label>
      <select class="form-control" ng-model="selectedCenter" ng-options="center as center.name for center in centers" ng-change="centerChange()">
        <option value="">ALL</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div ng-include=" 'views/mis/dashboard/' + dash + 'card.html' " ng-repeat="dash in dashlist"></div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-show="showtab == 'centerlist'">
      <div ng-include=" 'views/mis/dashboard/centerlist.html' "></div>
    </div>

    <div class="col-md-12" ng-show="showtab == 'studentlist'">
      <div ng-include=" 'views/mis/dashboard/studentlist.html' "></div>
    </div>

    <div class="col-md-12" ng-show="showtab == 'feelist'">
      <div ng-include=" 'views/mis/dashboard/feelist.html' "></div>
    </div>

    <div class="col-md-12" ng-show="showtab == 'stafflist'">
      <div ng-include=" 'views/mis/dashboard/stafflist.html' "></div>
    </div>

    <div class="col-md-12" ng-show="showtab == 'userlist'">
      <div ng-include=" 'views/mis/dashboard/userlist.html' "></div>
    </div>

    <div class="col-md-12" ng-show="showtab == 'parentlist'">
      <div ng-include=" 'views/mis/dashboard/parentlist.html' "></div>
    </div>

    <div ng-include=" 'views/mis/dashboard/followuplist.html' " ng-show="showtab=='followuplist'"></div>
  </div>
</div>