<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label class="control-label">Center:</label>
      <select class="form-control" ng-model="selectedCenter" ng-options="center as center.name for center in centers" ng-change="getGeneratedFeeSlips()">
        <option value="">Select Center</option>
      </select>
      <span class="material-input"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Student Fee</h4>
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-hover" ng-show="selectedCenter">
            <thead class="text-primary">
              <tr>
                <th>Name</th>
                <th>Center</th>
                <th>Invoice Date</th>
                <th>Total Fee</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="studentfee in generatedFeeSlips | filter: searchFee" ng-click="loadStudentFee(studentfee)">
                <td>{{studentfee.name}}</td>
                <td>{{studentfee.center.code}}</td>
                <td>{{studentfee.invoiceDate}}</td>
                <td>{{studentfee.totalFee}}</td>
                <td>{{studentfee.paymentStatus}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" ng-show="selectedStudentFee">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">chrome_reader_mode</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">{{selectedStudentFee.name}}</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Invoice Date</label>
              <div class="form-control">{{selectedStudentFee.invoiceDate}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Base Fee</label>
              <div class="form-control">{{selectedStudentFee.finalBaseFee}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Annual Fee</label>
              <div class="form-control">{{selectedStudentFee.annualFee}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Security Fee</label>
              <div class="form-control">{{selectedStudentFee.deposit}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Full Days</label>
              <div class="form-control">{{selectedStudentFee.noOfFullDays}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Half Day</label>
              <div class="form-control">{{selectedStudentFee.noOfHalfDays}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Total Days Fee</label>
              <div class="form-control">{{selectedStudentFee.totalDaysFee}}</div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Gst</label>
              <div class="form-control">{{selectedStudentFee.gstAmount}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Balance</label>
              <div class="form-control">{{selectedStudentFee.balance}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Extra Charge</label>
              <input class="form-control" type="number" ng-model="selectedStudentFee.extraCharge" ng-change="addExtraCharges()">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Total Fee</label>
              <div class="form-control">{{selectedStudentFee.totalFee}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <button type="button" class="btn btn-rose" ng-click="saveSlip(selectedStudentFee)">Save</button>
        <button type="button" class="btn btn-rose" ng-click="showPayNow(selectedStudentFee)" data-toggle="modal" data-target="#myModal" ng-disabled="!selectedStudentFee.payments.length">Pay Now</button>
        <button type="button" class="btn btn-rose" ng-click="downloadSlip(selectedStudentFee)">Download Slip</button>
      </div>
    </div>
    <div class="card" ng-show="selectedStudentFee.payments.length">
      <div class="card-content">
        <h4 class="card-title">Student Fee Records</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>TxnId</th>
              <th>Mode</th>
              <th>Amount</th>
              <th>Date</th>
              <th ng-show="STUDENTFEE_WRITE">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="payment in selectedStudentFee.payments">
              <td>{{payment.txnid}}</td>
              <td>{{payment.paymentMode}}</td>
              <td>{{payment.paidAmount}}</td>
              <td>{{payment.paymentDate}}</td>
              <td ng-show="STUDENTFEE_WRITE">
                <div class="buttons">
                  <button type="button" class="btn btn-primary btn-xs" ng-click="confirm(payment)">Confirm</button>
                  <button type="button" class="btn btn-primary btn-xs">Reject</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="card-title">Fee Slip - {{selected.name}}</h4>
        <span class="label label-info">{{selected.center.name}}</span>
        <span class="label label-info">{{selected.program.name}}</span>
        <span class="label label-info">{{selected.group.name}}</span>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Total Amount</label>
              <input class="form-control" type="text" readonly ng-model="selected.totalFee">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Payable Amount</label>
              <input class="form-control" type="number" ng-model="selected.payableAmount" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Paid Amount</label>
              <input class="form-control" type="number" ng-model="selected.paidAmount">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Payment mode</label>
              <select class="form-control" ng-model="selected.paymentMode" ng-disabled="selected.status=='Paid'">
                <option value="Cash">CASH</option>
                <option value="Cheque">CHEQUE</option>
                <option value="NEFT">NEFT</option>
                <option value="Hdfc" disabled>HDFC</option>
                <option value="Card">CARD</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Payment Date (YYYY-MM-DD)</label>
              <input class="form-control" type="text" required ng-model="selected.paymentDate" ng-readonly="selected.status=='Paid'" value="{{currentDate}}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Reference</label>
              <input class="form-control" type="text" required ng-model="selected.txnid" ng-readonly="selected.status=='Paid'">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Comments*</label>
              <textarea class="form-control" type="text" required ng-model="selected.comments" ng-readonly="selected.status=='Paid'"></textarea>
            </div>
          </div>
        </div>

        <div class="tab-pane active" id="controls">
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-click="payStudentFee()" ng-disabled="selected.status=='Paid'||disabledRecordPayment">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disabledRecordPayment"></i>
              Record Payment
            </button>

            <button class="btn btn-rose btn-fill" ng-click="downloadReceipt(selected)" ng-disabled="selected.status=='Raised'|| disabledReceiptDownload">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disabledReceiptDownload"></i>
              Download Receipt
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelStudentSlip()">Cancel</button>
            <!-- <button class="btn btn-default" ng-click="cancelStudentSlip()">Cancel</button> -->
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
    </div>
  </div>
</div>