<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Employer:</label>
      <select class="form-control" ng-model="selectedEmployer" ng-options="employer as employer.name for employer in employers"
        ng-change="setSlips([])">
        <option value="">Select Employer</option>
      </select>
      <span class="material-input"></span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Year</label>
      <select class="form-control" ng-model="selectedYear" ng-options="year as year.value for year in years">
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Month</label>
      <select class="form-control" ng-model="selectedMonth" ng-options="month as month.name for month in selectedYear.months">
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">&ensp;</label>
      <button class="btn btn-info" ng-click="generate(selectedMonth, selectedYear)" ng-disabled="disableGenerateButton">
        <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disableGenerateButton"></i>GENERATE
      </button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Employee Monthly Salaries
          <!-- <button class="btn btn-info pull-right" ng-click="regenerateAllPaySlip()" ng-show="salaries.length > 0">
            <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disableGenerateButton"></i>REGENERATE ALL
          </button> -->
          <button mat-raised-button class="btn btn-primary btn-sm" style="float: right;" ng-click="openFileExplorer()" ng-disabled="!(selectedEmployer && selectedYear && selectedMonth)">Upload</button>
          <input id="file-tag" type="file" ng-model="excelFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            style="display: none" onchange="angular.element(this).scope().uploadExcel(this)">
        </h4>
        <div class="row" ng-show="salaries.length > 0">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-labe">Search</label>
              <input class="form-control" ng-model="search">
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-condensed table-striped table-hover">
            <thead class="text-primary">
              <tr>
                <!-- <th>*</th> -->
                <th>Employee</th>
                <th>CTC</th>
                <th>Present Days</th>
                <th>Other Allowances</th>
                <th>Other Deductions</th>
                <th>Net Salary</th>
                <th>Pay Slips</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="salary in salaries | filter: search">
                <!-- <td>
                    <input type="checkbox" ng-model="regenerateRecords[salary.id]">
                  </td> -->
                <td>{{salary.empName}}</td>
                <td>{{salary.ctc}}</td>
                <td>{{salary.presents}}</td>
                <td>{{salary.otherAllowances}}</td>
                <!-- {{salary.bonus + salary.conveyance + salary.entertainment + salary.hra + salary.medical + salary.arrears + salary.shoes +salary.special
                + salary.tiffin + salary.uniform + salary.washing + salary.otherAllowances}} -->

                <td>{{salary.otherDeductions}}</td>
                <!-- {{salary.esi + salary.pf + salary.otherDeductions + salary.retention + salary.tds + salary.advance + salary.unpaidLeaveDeduction
                + salary.absentDeduction}} -->

                <td>{{salary.netSalary}}</td>
                <td>
                  <div class="buttons">
                    <button class="btn btn-primary btn-sm" ng-click="showSlip(salary)">edit</button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="downloadPaySlip(salary)" ng-disabled="salary.disableDownloadBtn">
                      <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="salary.disableDownloadBtn"></i>
                      Download
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" ng-show="paySlip.mode == 'edit'">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">chrome_reader_mode</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Pay slip</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Employee</label>
              <input class="form-control" name="empId" type="text" readonly ng-model="paySlip.empName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">EID* : </label>
              <input class="form-control" name="empId" type="text" readonly required ng-model="paySlip.eid">
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Employer* : </label>
              <input class="form-control" name="employer" type="text" readonly required ng-model="paySlip.employerName">
              <span class="material-input"></span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Other Allowances</label>
              <input class="form-control" name="otherAllowances" type="number" ng-model="paySlip.otherAllowances">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Other Deductions</label>
              <input class="form-control" name="otherDeductions" type="number" ng-model="paySlip.otherDeductions">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Present Days</label>
              <input class="form-control" name="presentDays" type="number" ng-model="paySlip.presents">
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">TDS</label>
              <input class="form-control" name="tds" type="number" ng-model="paySlip.tds">
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Comment</label>
              <textarea class="form-control" rows="3" name="Comment" type="text" ng-model="paySlip.comment"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Auto Comment</label>
              <textarea class="form-control" rows="3" name="autoComment" type="text" ng-model="paySlip.autoComment" readonly></textarea>
            </div>
          </div>

        </div>

        <div class="tab-pane active" id="controls">
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-click="update(paySlip)" ng-disabled="paySlip.disableUpdateBtn || paySlip.islock">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="paySlip.disableUpdateBtn"></i>save
            </button>
            <button class="btn btn-rose btn-fill" ng-click="regeneratePaySlip(paySlip)" ng-disabled="paySlip.disableRegenerateBtn || paySlip.islock">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="paySlip.disableRegenerateBtn"></i>regenerate
            </button>
            <button class="btn btn-rose btn-fill" ng-click="lockControls(paySlip)" ng-disabled="paySlip.islock"> Lock </button>
            <button class="btn" ng-click="paySlip = {}">Cancel</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ungenerated Payslips</h4>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-content table-responsive table-full-width">
            <table class="table">
              <thead class="text-primary">
                <th>S No.</th>
                <th>Eid</th>
                <th>Employee</th>
                <th>CTC</th>
                <th>Issue</th>
              </thead>
              <tbody>
                <tr ng-repeat="payslip in ungenerate;">
                  <td>{{$index +1}}</td>
                  <td>{{payslip.payslip.eid}}</td>
                  <td>{{payslip.payslip.ctc}}</td>
                  <td>{{payslip.payslip.empName}}</td>
                  <td>{{payslip.error}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>