<div class="row">
  <div class="col-md-6">
    <ul class="nav nav-pills nav-pills-warning">
      <li class="active">
        <a data-href="#programs" data-toggle="tab" aria-expanded="true" ng-click="selectProgramTab()">Programs</a>
      </li>
      <li>
        <a data-href="#groups" data-toggle="tab" ng-click="selectGroupTab()">Groups</a>
      </li>
      <!--<li>-->
        <!--<a data-href="#activities" data-toggle="tab" ng-click="selectActivityTab()">Activities</a>-->
      <!--</li>-->
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="tab-content">

      <div class="tab-pane active" id="programs">

        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">assignment</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Programs</h4>
            <button class="btn btn-info btn-sm" ng-click="newProgram()">New Program</button>
            <div class="table-responsive">

              <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Group</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="program in programs">
                  <td>{{program.code}}</td>
                  <td>{{program.name}}</td>
                  <td>{{program.description}}</td>
                  <td>
                    <span ng-repeat="group in program.groups" class="label label-info">{{group.name}}</span>
                  </td>
                  <td>
                    <div class="buttons" ng-show="!editprogram">
                      <button type="button" class="btn btn-primary btn-xs" ng-click="editProgram(program)">edit</button>
                      <button type="button" class="btn btn-danger btn-xs" ng-click="removeProgram(program)">del</button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane" id="groups">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">assignment</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Groups</h4>
            <button class="btn btn-info btn-xs" ng-click="newGroup()">New Group</button>
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tr ng-repeat="group in groups">
                  <td>{{ group.name}}</td>
                  <td>{{ group.description}}</td>
                  <td>
                    <div class="buttons" ng-show="!editgroup">
                      <button type="button" class="btn btn-primary btn-xs" ng-click="editGroup(group)">edit</button>
                      <button type="button" class="btn btn-danger btn-xs" ng-click="removeGroup(group)">del</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="tab-pane" id="activities">-->
        <!--<div class="card">-->
          <!--<div class="card-header card-header-icon" data-background-color="rose">-->
            <!--<i class="material-icons">assignment</i>-->
          <!--</div>-->
          <!--<div class="card-content">-->
            <!--<h4 class="card-title">Activities</h4>-->
            <!--<div>Activity tab</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    </div>
  </div>
  <div class="col-md-4 col-md-offset-2" ng-show="editprogram">
    <div class="card">
      <form id="EditProgramForm">
        <div class="card-header card-header-icon" data-background-color="orange">
          <i class="material-icons">mail_outline</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">{{insertedProgram.mode}} Program</h4>
          <div class="form-group">
            <label class="control-label">*Code</label>
            <input class="form-control" name="code" type="text" required ng-model="insertedProgram.code">
            <span class="material-input"></span>
          </div>
          <div class="form-group">
            <label class="control-label">*Name</label>
            <input class="form-control" name="name" type="text" required ng-model="insertedProgram.name">
            <span class="material-input"></span>
          </div>
          <div class="form-group">
            <label class="control-label">*Description</label>
            <textarea class="form-control" name="description" required type="" ng-model="insertedProgram.description" rows="3"></textarea>
            <span class="material-input"></span>
          </div>
          <div class="form-group">
            <label class="control-label">Group(s)</label>
            <span class="btn btn-info btn-xs btn-round" ng-repeat="group in insertedProgram.groups">
              {{group.name}}<i class="material-icons" ng-click="removeProgramGroup($index)">close</i>
            </span>
            <select class="form-control" ng-model="selectedGroup" ng-options="grp as grp.name for grp in groups" ng-change="addProgramGroup()">
              <option value="">Add..</option>
            </select>
          </div>
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-click="saveProgram(insertedProgram)">Save</button>
            <button class="btn btn-default" ng-click="cancelProgram()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-2" ng-show="editgroup">
    <div class="card">
      <form id="EditGroupForm" novalidate>
        <div class="card-header card-header-icon" data-background-color="orange">
          <i class="material-icons">mail_outline</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">New/Edit Group</h4>
          <div class="form-group">
            <label class="control-label">Name*</label>
            <input class="form-control" name="name" type="text" required ng-model="insertedGroup.name">
            <span class="material-input"></span>
          </div>
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" name="description" required type="" ng-model="insertedGroup.description" rows="3"></textarea>
            <span class="material-input"></span>
          </div>
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill" ng-click="saveGroup(insertedGroup)">Save</button>
            <button class="btn btn-default" ng-click="cancelGroup()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


