<div class="row">
  <div class="col-md-2">
    <div class="form-group" role="group">
      <input type="search" class="form-control" id="search" placeholder="Search..." ng-model="searchStaff">
    </div>
  </div>
  <div class="col-md-4">
    <div class="btn-group btn-group-sm" role="group" aria-label="filter">
      <select class="form-control" ng-model="selectedCenter" ng-options="center as center.name for center in centerList">
        <option value="">All</option>
      </select>

    </div>
  </div>
  <div class="col-md-4">
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-info" id="add" ng-click="addSalary()">Add</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">account_box</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Employee Salaries</h4>
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-hover">
            <thead class="text-primary">
            <tr>
              <th>Eid</th>
              <th>Employer</th>
              <th>Center</th>
              <th>firstName</th>
              <th>LastName</th>
              <th>Net Salary</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="salary in salaries  | filter: searchStaff | filter: {centerCode: selectedCenter.code} | orderBy:['firstName','lastName'] | startFrom:currentPage*pageSize | limitTo:pageSize">
              <td>{{salary.eid}}</td>
              <td>{{salary.employerCode}}</td>
              <td>{{salary.centerCode}}</td>
              <td>{{salary.firstName}}</td>
              <td>{{salary.lastName}}</td>
              <td>{{salary.netSalary}}</td>
              <td>
                <div class="buttons">
                  <button type="button" class="btn btn-primary btn-xs" ng-click="showSalary(salary)">show</button>
                  <button type="button" class="btn btn-primary btn-xs" ng-click="editSalary(salary)" ng-show="SALARY_WRITE">edit</button>
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="6" style="background: #fff">
                <ul class="pagination pagination-info">
                  <li>
                    <a ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1;updatePageBar()">
                      Previous
                    </a>
                  </li>
                  <li ng-repeat="page in pagebar" ng-class="{active: page.current}" ng-click="changePage(page)">
                    <a>{{page.number+1}}</a>
                  </li>
                  <li>
                    <a ng-hide="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1;updatePageBar()">
                      Next
                    </a>
                  </li>
                </ul>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12" ng-show="edit || show || add">
    <div ng-include=" 'views/mis/employeeSalary.html' "></div>
  </div>
</div>