<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label class="label-control">Select Center</label>
      <select class="form-control" ng-model="selectedCenter" ng-change=centerChange() ng-options="center as center.name for center in centers">
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label class="label-control">Select Student</label>
      <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="searchStudent"/>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li ng-if="!selectedCenter">
          <a>Select a Center</a>
        </li>
        <li ng-repeat="student in filteredStudents">
          <a ng-click="showSharingSheet(student)">{{student.fullName}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label class="label-control">Select Date</label>
      <input type="text" id="selectedDate" class="form-control datepicker" ng-model="selectedDate"/>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <label class="label-control"></label>
      <button class="btn btn-info btn-sm" ng-click="showSharingSheet(selectedStudent)">GO</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-md-4">
            <ul class="nav nav-pills nav-pills-icons nav-pills-rose nav-stacked ">
              <li class="active">
                <a role="tab" data-toggle="tab" ng-click="selectTab(0)">
                  <i class="material-icons">dashboard</i>Food
                </a>
              </li>
              <li>
                <a role="tab" data-toggle="tab" ng-click="selectTab(1)">
                  <i class="material-icons">schedule</i>
                  Diaper
                </a>
              </li>
              <li>
                <a role="tab" data-toggle="tab" ng-click="selectTab(2)">
                  <i class="material-icons">dashboard</i>
                  Naps
                </a>
              </li>
              <li>
                <a role="tab" data-toggle="tab" ng-click="selectTab(3)">
                  <i class="material-icons">schedule</i>
                  Notes
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="foodtab">
                <div class="row">
                  <div class="col-md-6">
                    <label class="control-label">Time</label>
                    <input type="text" id="entryAt" class="form-control timepicker"/>
                    <!--<input type="time" class="form-control" ng-model="se.entryAtObj">-->
                  </div>
                  <div class="col-md-6">
                    <label class="control-label">Food/Snack/Drink</label>
                    <input type="text" class="form-control" ng-model="se.food">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Note</label>
                      <input type="text" class="form-control" ng-model="se.notes">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-xs" ng-click="se.feedQty = 'None'" ng-class="se.feedQty == 'None' ? 'btn-primary' : ''">NONE</button>
                    <button class="btn btn-xs" ng-click="se.feedQty = 'Some'" ng-class="se.feedQty == 'Some' ? 'btn-primary' : ''">SOME</button>
                    <button class="btn btn-xs" ng-click="se.feedQty = 'Most'" ng-class="se.feedQty == 'Most' ? 'btn-primary' : ''">MOST</button>
                    <button class="btn btn-xs" ng-click="se.feedQty = 'All'" ng-class="se.feedQty == 'All' ? 'btn-primary' : ''">ALL</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <button class="btn btn-sm btn-info" ng-click="saveEntry('Food')">Save</button>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="diapertab">
                <div class="row">
                  <div class="col-md-6">
                    <label class="control-label">Time</label>
                    <input type="text" id="entryAtD" class="form-control timepicker">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Note</label>
                      <input type="text" class="form-control" ng-model="se.notes">
                    </div>
                  </div>
                </div>
                <button class="btn btn-sm btn-info" ng-click="saveEntry('Diaper')">Save</button>
              </div>
              <div class="tab-pane" id="napstab">
                <div class="row">
                  <div class="col-md-6">
                    <label class="control-label">From</label>
                    <input type="text" id="entryFrom" class="form-control timepicker">
                  </div>
                  <div class="col-md-6">
                    <label class="control-label">To</label>
                    <input type="text" id="entryTo" class="form-control timepicker">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Note</label>
                      <input type="text" class="form-control" ng-model="se.notes">
                    </div>
                  </div>
                </div>
                <button class="btn btn-sm btn-info" ng-click="saveEntry('Nap')">Save</button>
              </div>
              <div class="tab-pane" id="notestab">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Notes</label>
                      <textarea type="text" class="form-control" ng-model="se.notes" rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Needs</label>
                      <textarea type="text" class="form-control" ng-model="se.needs" rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <button class="btn btn-sm btn-info" ng-click="saveEntry('Note')">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" ng-if="sharingSheet.studentId">
    <div class="card">
      <div class="card-content">
        <h3>{{sharingSheet.studentName}} | {{ sharingSheet.sharingDate | date}}</h3>

        <table class="table table-bordered">
          <thead class="text-primary">
          <tr>
            <th>&nbsp;</th>
            <th>Time</th>
            <th>&nbsp;</th>
            <th>Notes</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="entry in sharingSheet.entries">
            <td>{{entry.entryType}}</td>
            <td ng-if="entry.entryAt">{{entry.entryAt}}</td>
            <td ng-if="entry.entryFrom">{{entry.entryFrom}}</td>
            <td>
              {{getLabel(entry)}}
              <label class="btn btn-info btn-xs" ng-if="entry.feedQty">{{entry.feedQty}}</label>
            </td>
            <td>{{entry.notes}}</td>
          </tr>
          <tr>
            <td colspan="4">
              <h6>Notes</h6>
              <p>{{sharingSheet.notes}}</p>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <h6>Needs:</h6>
              <p>{{sharingSheet.needs}}</p>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <span>Signed By: (Mentor)</span><span>{{sharingSheet.signedBy}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-content" ng-if="!pss">
        Parents have not filled morning sheet
      </div>
      <div class="card-content" ng-if="pss || true">
        <div class="row">
          <div class="col-md-12">
            <h4>Morning Sharing</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h6 class="btn-info">Sleep</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-6">
            <div class="form-group">
              <label class="label-control">Bed Time</label>
              <input type="text" class="form-control" ng-model="pss.bedTime" readonly/>
            </div>
          </div>
          <div class="col-md-4 col-xs-6">
            <div class="form-group">
              <label class="label-control">Wakeup Time</label>
              <input type="text" class="form-control" ng-model="pss.wakeupTime" readonly/>
            </div>
          </div>
          <div class="col-md-4 col-xs-6">
            <label class="label-control">Sleep Cycle</label>
            <input type="text" class="form-control" ng-model="pss.sleepReason" readonly/>
          </div>
          <div class="col-md-4 col-xs-6">
            <label class="label-control">Mood</label>
            <input type="text" class="form-control" ng-model="pss.wakeupMood" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h6 class="btn-info">Morning Rituals</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <label class="">Bowel Movement:</label>
            <label class="btn btn-xs" ng-class="pss.bathed ? 'btn-primary' : ''">{{pss.bowelMovement ? 'Yes' : 'No'}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h6 class="btn-info">Hygiene Routine</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <label>Bathed</label>
            <label class="btn btn-xs" ng-class="pss.bathed ? 'btn-primary' : ''">{{pss.bathed ? "Yes" : "No"}}</label>
          </div>
          <div class="col-lg-6">
            <label>Sponged</label>
            <label class="btn btn-xs" ng-class="pss.sponged ? 'btn-primary' : ''">{{pss.sponged ? "Yes" : "No"}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-6">
            <label>Mood @ Arrival</label>
            <input type="text" class="form-control" ng-model="pss.arrivalMood" readonly>
          </div>
          <div class="col-md-4 col-xs-6">
            <label>I have noticed</label>
            <input type="text" class="form-control" ng-model="pss.noticedIssue" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Today's sharing</label>
            <input class="form-control" ng-model="pss.sharing" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h6 class="btn-info">Food Intake</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-bordered">
              <thead>
              <th>Item</th>
              <th>Time</th>
              <th>Qty</th>
              </thead>
              <tbody>
              <tr ng-repeat="entry in pss.entries">
                <td>{{entry.food}}</td>
                <td>{{entry.entryAt}}</td>
                <td>{{entry.feedQty}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Signed By: {{pss.signedBy}} (Parent)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>