<div class="card">

  <div class="card-header card-header-tabs" data-background-color="rose">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="active">
            <a data-toggle="tab" ng-click="selectTab(0)">Profile</a>
          </li>
          <li class="">
            <a data-toggle="tab" ng-click="selectTab(1)">Photo</a>
          </li>
          <li class="">
            <a data-toggle="tab" ng-click="selectTab(2)">Address</a>
          </li>
          <li class="">
            <a data-toggle="tab" ng-click="selectTab(3)">Permanent Address</a>
          </li>
          <li class="">
            <a data-toggle="tab" ng-click="selectTab(4)">Salary</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-content">
    <div class="tab-content">

      <div class="tab-pane active" id="staffprofile">
        <h4 class="card-title">{{workingStaff.mode}} Staff </h4>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label">Center</label>
              <input class="form-control" name="eid" type="text" required ng-model="workingStaff.costCenter.name" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label">Employee Id</label>
              <input class="form-control" name="eid" type="text" required ng-model="workingStaff.eid" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input class="form-control" name="firstName" type="text" required ng-model="workingStaff.firstName" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label">Last Name</label>
              <input class="form-control" name="lastName" type="text" required ng-model="workingStaff.lastName" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Email</label>
              <input class="form-control" name="email" type="text" ng-model="workingStaff.email" readonly>
              <span class="material-input"></span>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label">DoJ (YYYY-MM-DD)</label>
              <input class="form-control" name="doa" type="text" required ng-model="workingStaff.profile.doj" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label">DOB (YYYY-MM-DD)</label>
              <input class="form-control" name="nickName" type="text" required ng-model="workingStaff.profile.dob" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label">Gender</label>
              <input class="form-control" name="nickName" type="text" required ng-model="workingStaff.profile.gender" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Cost Center</label>
              <input class="form-control" name="nickName" type="text" required ng-model="workingStaff.costCenter.name" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Employee Type</label>
              <input class="form-control" name="nickName" type="text" required ng-model="workingStaff.type" readonly>
              <span class="material-input"></span>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Mobile</label>
              <input class="form-control" name="nickName" type="text" required ng-model="workingStaff.mobile" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Additional Phone(s)</label>
              <input class="form-control" name="secondaryNumbers" type="text" ng-model="workingStaff.secondaryNumbers" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Designation</label>
              <input class="form-control" name="designation" type="text" required ng-model="workingStaff.designation" readonly>
              <span class="material-input"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Marital Status</label>
              <input class="form-control" type="text" ng-model="workingStaff.maritalStatus" readonly>
              <span class="material-input"></span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Expected In (HH:mm)</label>
              <input class="form-control" type="text" ng-model="workingStaff.expectedIn" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Expected Out(HH:mm)</label>
              <input class="form-control" type="text" ng-model="workingStaff.expectedOut" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Approval Status</label>
              <input class="form-control" type="text" ng-model="workingStaff.approvalStatus" readonly>
              <span class="material-input"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="staffphoto">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="photo">
                <img ng-src="{{workingStaff.imgPath}}"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="staffaddress">
        <div class="row">

          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Address</label>
              <input class="form-control" type="text" required ng-model="workingStaff.profile.address.address" readonly>
              <span class="material-input"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">City</label>
              <input class="form-control" name="city" type="text" required ng-model="workingStaff.profile.address.city" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">State</label>
              <input class="form-control" name="state" type="text" required ng-model="workingStaff.profile.address.state" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Zipcode</label>
              <input class="form-control" name="zipcode" type="text" required ng-model="workingStaff.profile.address.zipcode" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Phone</label>
              <input class="form-control" name="zipcode" type="text" required ng-model="workingStaff.profile.address.phone" readonly>
              <span class="material-input"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="staffpermanentaddress">
        <div class="row">

          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">address</label>
              <input class="form-control" type="text" required ng-model="workingStaff.profile.permanentAddress.address" readonly>
              <span class="material-input"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">City</label>
              <input class="form-control" name="city" type="text" required ng-model="workingStaff.profile.permanentAddress.city" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">State</label>
              <input class="form-control" name="state" type="text" required ng-model="workingStaff.profile.permanentAddress.state" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Zipcode</label>
              <input class="form-control" name="zipcode" type="text" required ng-model="workingStaff.profile.permanentAddress.zipcode" readonly>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Phone</label>
              <input class="form-control" name="zipcode" type="text" required ng-model="workingStaff.profile.permanentAddress.phone" readonly>
              <span class="material-input"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="salary">
        <div ng-show="hasSalary">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Basic</label>
                <input class="form-control" name="basic" type="number" ng-model="salary.basic" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Bonus</label>
                <input class="form-control" name="bonus" type="number" ng-model="salary.bonus" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Conveyance</label>
                <input class="form-control" name="conveyance" type="number" ng-model="salary.conveyance" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Entertainment</label>
                <input class="form-control" name="entertainment" type="number" ng-model="salary.entertainment" readonly>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">HRA</label>
                <input class="form-control" name="hra" type="number" ng-model="salary.hra" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Medical</label>
                <input class="form-control" name="medical" type="number" ng-model="salary.medical" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Arrears</label>
                <input class="form-control" name="arrears" type="number" ng-model="salary.arrears" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Shoes</label>
                <input class="form-control" name="shoes" type="number" ng-model="salary.shoes" readonly>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Special</label>
                <input class="form-control" name="special" type="number" ng-model="salary.special" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Tiffin</label>
                <input class="form-control" name="tiffin" type="number" ng-model="salary.tiffin" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Uniform</label>
                <input class="form-control" name="uniform" type="number" ng-model="salary.uniform" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Washing</label>
                <input class="form-control" name="washing" type="number" ng-model="salary.washing" readonly>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"><b>Net Earning</b></label>
                <input class="form-control" name="earning" type="number" ng-model="salary.totalEarning" readonly>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">ESI</label>
                <input class="form-control" name="esi" type="number" ng-model="salary.esi" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">PF</label>
                <input class="form-control" name="pf" type="number" ng-model="salary.pf" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Other Deductions</label>
                <input class="form-control" name="oDeductions" type="number" ng-model="salary.otherDeductions" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Retention</label>
                <input class="form-control" name="retention" type="number" ng-model="salary.retention" readonly>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">TDS</label>
                <input class="form-control" name="tds" type="number" ng-model="salary.tds" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Advance</label>
                <input class="form-control" name="advance" type="number" ng-model="salary.advance" readonly>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"><b>Net Deductions</b></label>
                <input class="form-control" name="deduction" type="number" ng-model="salary.totalDeduction" readonly>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"><b>Net Salary</b></label>
                <input class="form-control" name="deduction" type="number" ng-model="salary.netSalary" readonly>
                <span class="material-input"></span>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="!hasSalary">
          <p>Staff salary is not created.</p>
        </div>
      </div>

      <div class="tab-pane active" id="controls">
        <div class="form-footer text-right">
          <button class="btn btn-rose btn-fill" ng-disabled="disableApprove || workingStaff.approvalStatus != 'NewApproval' || !hasSalary" ng-click="approveStaff(workingStaff)">
            <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disableApprove"></i>
            Approve
          </button>
          <button class="btn btn-rose btn-fill" ng-disabled="disableReject || workingStaff.approvalStatus != 'NewApproval' || !hasSalary" ng-click="rejectStaff(workingStaff)">
            <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disableReject"></i>
            Reject
          </button>
        </div>
      </div>
    </div>
  </div>

</div>