<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchStaffName">
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <label class="control-label">Center:</label>
    <select class="form-control" ng-model="selectedCenter" ng-change="allchecked = false">
      <option value="">ALL</option>
      <option ng-repeat="center in centers" value="{{center.code}}">{{center.selectedStaff ? '('+center.selectedStaff+')': ''}} {{center.name}}</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Staffs</h4>
        <div>
          <button class="btn btn-rose btn-sm" ng-click="showSMS()">SMS</button>
          <button class="btn btn-default btn-sm" ng-click="showEmail()">Email</button>
        </div>
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-hover">
            <thead class="text-primary">
            <tr>
              <th><input type="checkbox" class="checkbox" ng-change="toggleAll()" ng-model="allchecked"/></th>
              <th>Name</th>
              <th>Eid</th>
              <th>Center</th>
              <!--<th>email</th>-->
              <th>Mobile</th>
              <th>Designation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="staff in stafflist | filter: filterFunction">
              <td><input type="checkbox" class="checkbox" ng-model="staff.checked" ng-click="toggleOne(staff)"/></td>
              <td>{{staff.name}}</td>
              <td>{{staff.eid}}</td>
              <td>{{staff.centerCode}}</td>
              <!--<td>{{staff.email}}</td>-->
              <td>{{staff.mobile}}</td>
              <td>{{staff.designation}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 col-sm-12" ng-show="smsbox">

    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">SMS</h4>
        <textarea class="form-control" ng-model="smscontent"></textarea>
        <span>#{{smscontent.length}}</span>
        <div>This sms will be sent to {{selectedcount}} staffs</div>
        <button class="btn btn-rose btn-sm" ng-click="sendSMS()" ng-show="selectedcount > 0">Send</button>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12" ng-show="emailbox">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Email</h4>
        <div class="form-group">
          <label class="control-label">CC</label>
         
         
         
         
          <input #ccInput class="form-control"  ng-model="ccInput">
          <button type="button" ng-click="onCcAdd(ccInput)">Add</button>
          <button type="button" ng-click="onCcListDelete()">Clear List</button>
          
        </div>
        <p>{{showEnteredEmails()}}</p>
        <div class="form-group">
          <label class="control-label">Subject*</label>
          <input class="form-control" ng-model="emailsubject">
        </div>

        <div class="form-group">
          <label class="control-label">Message*</label>
          <div id="message" class="form-control" ng-model="emailcontent" style="min-height: 200px;overflow: scroll;" contenteditable="true"></div>
        </div>
        <div>
          <span class="btn btn-info btn-xs btn-round" ng-repeat="attachment in attachments">
            {{attachment.name}}<i class="material-icons" ng-click="removeAttachment($index)">close</i>
          </span>
        </div>
        <input class="btn btn-primary btn-sm" type="file" file-model="file" ng-disabled="attachments.length>=MAX_FILES"/>
        <div>This message will be sent to {{selectedcount}} employees.</div>
        <button class="btn btn-rose btn-sm" ng-click="sendEmail()" ng-disabled="sendDisable" ng-show="selectedcount>0">
          <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="sendDisable"></i>
          {{progress.hide?'Send':'Sending '+progress.percent}}
        </button>
      </div>
    </div>
  </div>
</div>