<div class="card">
  <form name="StudentForm">
    <div class="card-header card-header-tabs" data-background-color="rose">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <h4>{{workingStudent.fullName}}</h4>
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active">
              <a data-toggle="tab" ng-click="selectTab(0)">Profile</a>
            </li>
            <li class="">
              <a data-toggle="tab" ng-click="selectTab(1)">Photo</a>
            </li>
            <li class="">
              <a data-toggle="tab" ng-click="selectTab(2)">Father</a>
            </li>
            <li class="">
              <a data-toggle="tab" ng-click="selectTab(3)">Mother</a>
            </li>
            <li class="">
              <a data-toggle="tab" ng-click="selectTab(4)">Fee</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div class="tab-content">
        <div class="tab-pane active" id="studentprofile">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Center</label>
                <select class="form-control" data-style="select-with-transition" ng-model="workingStudent.centerId"
                  title="Single Select" data-size="7" ng-readonly="showstudent"
                  ng-disabled="showstudent" required ng-change="centerChanged()">
                  <option value="" selected="selected">Select Center</option>
                  <option ng-repeat="center in centers" value="{{center.id}}">{{center.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Program</label>
                <select class="form-control" data-style="select-with-transition" ng-model="workingStudent.programId"
                        ng-change="programChanged(workingStudent.centerId, workingStudent.programId)"
                        title="Single Select" data-size="7"
                        ng-readonly="showstudent"
                        ng-disabled="showstudent"
                        required>
                  <option selected="selected" value="">Select Program</option>
                  <option ng-repeat="program in programs" value="{{program.id}}">{{program.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <label class="control-label">*Group</label>
                <select class="form-control" data-style="select-with-transition" ng-model="workingStudent.groupId"
                        title="Single Select" data-size="7"
                        ng-readonly="showstudent"
                        ng-disabled="showstudent"
                        required
                >
                  <option selected="selected" value="">Select Group</option>
                  <option value="{{group.id}}" ng-repeat="group in ((programs | idFilter:workingStudent.programId)[0].groups)">{{group.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4" ng-show="!addstudent||!editstudent||showstudent">
              <div class="form-group ">
                <label class="control-label">Admission Number</label>
                <input class="form-control" name="admissionNumber" type="text" ng-model="workingStudent.admissionNumber" readonly>
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*First Name</label>
                <input class="form-control" name="firstName" type="text" required ng-model="workingStudent.firstName" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <label class="control-label">*Last Name</label>
                <input class="form-control" name="lastName" type="text" required ng-model="workingStudent.lastName" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">*Adm. Date (YYYY-MM-DD)</label>
                <input class="form-control datepicker" name="doa" type="text" required ng-model="workingStudent.admissionDate" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">*Date of Birth (YYYY-MM-DD)</label>
                <input class="form-control" name="dob" type="text" required ng-model="workingStudent.dob" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">*Nick Name</label>
                <input class="form-control" name="nickName" type="text" required ng-model="workingStudent.nickName" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">*Nationality</label>
                <input class="form-control" name="nationality" type="text" required ng-model="workingStudent.nationality" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Gender</label>
                <select class="form-control" ng-model="workingStudent.gender"
                        ng-readonly="showstudent"
                        ng-disabled="showstudent"
                        required
                >
                  <option value="">Gender</option>
                  <option value="Male">Boy</option>
                  <option value="Female">Girl</option>
                </select></div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Blood Group</label>
                <select class="form-control" ng-model="workingStudent.bloodGroup"
                        ng-readonly="showstudent"
                        ng-disabled="showstudent"
                        required
                >
                  <option value="">Blood Group</option>
                  <option value="{{bloodGroup}}" ng-repeat="bloodGroup in bloodGroups">{{bloodGroup}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">*Family Type</label>
                <select class="form-control" ng-model="workingStudent.familyType"
                        ng-readonly="showstudent"
                        ng-disabled="showstudent"
                        required
                >
                  <option value="">Family Type</option>
                  <option value="Nuclear">Nuclear</option>
                  <option value="Joint">Joint</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">*Expected In (HH:mm)</label>
                <input class="form-control" name="expectedIn" type="text" ng-model="workingStudent.expectedIn" required ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">*Expected Out(HH:mm)</label>
                <input class="form-control" name="expectedOut" type="text" ng-model="workingStudent.expectedOut" required ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="checkbox" style="padding-top: 45px;">
                  <label>
                    <input id="corporate" type="checkbox" ng-checked="workingStudent.corporate" ng-click="corporateClicked(workingStudent)" name="corporate" ng-model="workingStudent.corporate"> Corporate Student
                  </label>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="checkbox" style="padding-top: 45px;">
                  <label>
                    <input type="checkbox" ng-click="formalClicked(workingStudent)" name="formalSchool" ng-model="workingStudent.formalSchool"> Formal School
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">*School Name</label>
                <input class="form-control" name="school" type="text" ng-model="workingStudent.schoolName" 
                required ng-readonly="showstudent" ng-disabled="!workingStudent.formalSchool">
                <span class="material-input"></span>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">*Comment</label>
                <textarea class="form-control" ng-model="workingStudent.profile" row="5" required ng-readonly="showstudent" maxlength="1000"></textarea>
              </div>
            </div>
          </div>

          <div class="row" ng-show="workingStudent.mode=='New'">
            <div class="col-md-1">
              <div class="checkbox" style="padding-top: 45px;">
                <label>
                  <input type="checkbox" name="sibling" ng-model="checked" ng-change="siblingChecked(checked)">
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group ">
                <label class="control-label">*Center</label>
                <select class="form-control" ng-disabled="!workingStudent.hasSibling"
                        ng-options="center as center.name for center in centers"
                        ng-model="siblingCenter" ng-change="siblingCenterChanged(siblingCenter)">
                  <option value="">Select</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group ">
                <label class="control-label">Sibling Program</label>
                <select class="form-control" ng-disabled="!workingStudent.hasSibling"
                        ng-options="program as program.name for program in programs"
                        ng-model="siblingProgram" ng-change="siblingProgramChanged(siblingProgram)">
                  <option value="">Select</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group ">
                <label class="control-label">Sibling Group</label>
                <select class="form-control" ng-disabled="!workingStudent.hasSibling"
                        ng-options="group as group.name for group in siblingProgram.groups"
                        ng-model="siblingGroup" ng-change="siblingGroupChanged(siblingGroup)">
                  <option value="">Select</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group ">
                <label class="control-label">Student</label>
                <select class="form-control" ng-disabled="!workingStudent.hasSibling"
                        ng-options="student.id as student.fullName for student in students | filter: {center: {id:siblingCenter.id},program:{id:siblingProgram.id},group:{id: siblingGroup.id}}"
                        ng-model="workingStudent.siblingId"
                        ng-change="siblingSelected()">
                  <option value="">Select</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="photo">
          <input id="studentimg" type="file" style="display:none" accept="image/*" onchange="angular.element(this).scope().setFiles(this)"/>
          <div class="row">
            <div class="col-md-6" ng-hide="webCamOpen">
              <div class="card">
                <div class="photo">
                  <img ng-src="{{studentImageURI}}"/>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-6" ng-show="webCamOpen">
              
                <div class="app panel-body">
              
                  <a href="#" id="start-camera" class="visible">Touch here to start the app.</a>
                  <video id="camera-stream" style="width:100%"></video>
                  <img id="snap" style="display: none">

                  <!-- Hidden canvas element. Used for taking snapshot of video. -->
                  <canvas id="canvas" style="display: none"></canvas>
              
                  <p id="error-message"></p>
              
                  <div class="controls">
                    <a href="#" id="delete-photo" title="Delete Photo" class="disabled"><i class="material-icons">delete</i></a>
                    <a href="#" id="take-photo" title="Take Photo"><i class="material-icons">camera_alt</i></a>
                    <a href="#" id="download-photo" download="selfie.png" title="Save Photo" class="disabled"><i class="material-icons">file_download</i></a>
                  </div>
              
                </div>
            </div>
          </div>
          <button class="btn btn-rose btn-round" ng-click="openWebCam()" ng-hide="workingStudent.mode=='Show'">Capture Photo</button>
          <button class="btn btn-rose btn-round" ng-click="browseImage()" ng-hide="workingStudent.mode=='Show'">Select Photo</button>
          <button class="btn btn-rose btn-round" ng-click="uploadImage()" ng-hide="workingStudent.mode=='Show'">Update</button>
        </div>

        <div class="tab-pane" id="fatherprofile">
          <div class="row">
            <div class="col-md-4">
              <button class="btn btn-rose btn-round" ng-disabled="workingStudent.father.account" ng-click="createParentAccount(workingStudent.father)">Create Account</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-rose btn-round" ng-disabled="!workingStudent.father.account" ng-click="resetParentPassword(workingStudent.father)">Reset password</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">*First Name</label>
                <input class="form-control" name="fatherfirstName" type="text" required ng-model="workingStudent.father.firstName" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">*Last Name</label>
                <input class="form-control" name="fatherLastName" required type="text" ng-model="workingStudent.father.lastName" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">*Phone</label>
                <input class="form-control" type="text" required ng-model="workingStudent.father.mobile" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">*Email</label>
                <input class="form-control" type="email" required ng-model="workingStudent.father.email" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="togglebutton" ng-show="workingStudent.father.mobile">
                <label>
                  <input type="checkbox" ng-checked="workingStudent.father.smsEnabled" ng-model="workingStudent.father.smsEnabled">
                  SMS Notification
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="togglebutton" ng-show="workingStudent.father.email">
                <label>
                  <input type="checkbox" ng-checked="workingStudent.father.emailEnabled" ng-model="workingStudent.father.emailEnabled">
                  Email Notification
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Educational Qualification</label>
                <input class="form-control" name="fatherEducationalQualification" type="text" ng-model="workingStudent.father.educationalQualification"
                       ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Occupation</label>
                <input class="form-control" name="fatherOccupation" type="text" ng-model="workingStudent.father.occupation" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Designation</label>
                <input class="form-control" name="fatherdesignation" type="text" ng-model="workingStudent.father.designation" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label class="control-label">Organisation</label>
                <input class="form-control" name="fatherOrganisation" type="text" ng-model="workingStudent.father.organisation" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <legend>Residential Address</legend>
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <label class="control-label">Address</label>
                <input class="form-control" type="text" ng-model="workingStudent.father.residentialAddress.address" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">City</label>
                <input class="form-control" name="city" type="text" ng-model="workingStudent.father.residentialAddress.city" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">State</label>
                <input class="form-control" name="state" type="text" ng-model="workingStudent.father.residentialAddress.state" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Zipcode</label>
                <input class="form-control" name="zipcode" type="text" ng-model="workingStudent.father.residentialAddress.zipcode" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <legend>Office Address</legend>
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <label class="control-label">Address</label>
                <input class="form-control" type="text" ng-model="workingStudent.father.officeAddress.address" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">City</label>
                <input class="form-control" name="city" type="text" ng-model="workingStudent.father.officeAddress.city" ng-readonly="showstudent">

                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">State</label>
                <input class="form-control" name="state" type="text" ng-model="workingStudent.father.officeAddress.state" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Zipcode</label>
                <input class="form-control" name="zipcode" type="text" ng-model="workingStudent.father.officeAddress.zipcode" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="motherprofile">
          <div class="row">
            <div class="col-md-4">
              <button class="btn btn-rose btn-round" ng-disabled="workingStudent.mother.account" ng-click="createParentAccount(workingStudent.mother)">Create Account</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-rose btn-round" ng-disabled="!workingStudent.mother.account" ng-click="resetParentPassword(workingStudent.mother)">Reset password</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">*First Name</label>
                <input class="form-control" type="text" required ng-model="workingStudent.mother.firstName" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">*Last Name</label>
                <input class="form-control" type="text" required ng-model="workingStudent.mother.lastName" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">*Phone</label>
                <input class="form-control" type="text" required ng-model="workingStudent.mother.mobile" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-6">

              <div class="form-group">
                <label class="control-label">*Email</label>
                <input class="form-control" type="email" required ng-model="workingStudent.mother.email" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="togglebutton" ng-show="workingStudent.mother.mobile">
                <label>
                  <input type="checkbox" ng-checked="workingStudent.mother.smsEnabled" ng-model="workingStudent.mother.smsEnabled">
                  SMS Notification
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="togglebutton" ng-show="workingStudent.mother.email">
                <label>
                  <input type="checkbox" ng-checked="workingStudent.mother.emailEnabled" ng-model="workingStudent.mother.emailEnabled">
                  Email Notification
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Educational Qualification</label>
                <input class="form-control" type="text" ng-model="workingStudent.mother.educationalQualification" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Occupation</label>
                <input class="form-control" type="text" ng-model="workingStudent.mother.occupation" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Designation</label>
                <input class="form-control" name="fatherdesignation" type="text" ng-model="workingStudent.mother.designation" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label class="control-label">Organisation</label>
                <input class="form-control" name="fatherOrganisation" type="text" ng-model="workingStudent.mother.organisation" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <legend>Residential Address</legend>
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <label class="control-label">Address</label>
                <input class="form-control" type="text" ng-model="workingStudent.mother.residentialAddress.address" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">City</label>
                <input class="form-control" name="city" type="text" ng-model="workingStudent.mother.residentialAddress.city" ng-readonly="showstudent">

                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">State</label>
                <input class="form-control" name="state" type="text" ng-model="workingStudent.mother.residentialAddress.state" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Zipcode</label>
                <input class="form-control" name="zipcode" type="text" ng-model="workingStudent.mother.residentialAddress.zipcode" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <legend>Office Address</legend>
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <label class="control-label">Address</label>
                <input class="form-control" type="text" ng-model="workingStudent.mother.officeAddress.address" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">City</label>
                <input class="form-control" name="state" type="text" ng-model="workingStudent.mother.officeAddress.city" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">State</label>
                <input class="form-control" name="state" type="text" ng-model="workingStudent.mother.officeAddress.state" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Zipcode</label>
                <input class="form-control" name="zipcode" type="text" ng-model="workingStudent.mother.officeAddress.zipcode" ng-readonly="showstudent">
                <span class="material-input"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="fee">
          <div>{{workingStudent.feeMessage}}</div>
          <div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Annual Charges</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.annualFee" readonly>
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Discount <sup>(%)</sup></label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.discountAnnualCharges" readonly>
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Final Annual Charges
                  </label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.finalAnnualFee" required ng-readonly="workingStudent.mode !== 'New' || workingStudent.fee.annualFee <= 0"
                  ng-change="calculateDiscount('annualFee', 'finalAnnualFee', 'discountAnnualCharges')">
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Admission Charges</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.admissionFee" readonly>
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Discount <sup>(%)</sup></label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.discountAdmissionCharges" readonly>
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Final Admission Charges</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.finalAdmissionCharges" required ng-readonly="workingStudent.mode !=='New' || workingStudent.fee.admissionFee <= 0"
                  ng-change="calculateDiscount('admissionFee', 'finalAdmissionCharges', 'discountAdmissionCharges')">
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Monthly Program Fees</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.baseFee" readonly>
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Discount <sup>(%)</sup></label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.discountBaseFee" readonly>
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Final Monthly Fees Amount</label>
                  <input class="form-control" type="text" ng-model="workingStudent.fee.finalBaseFee" required ng-readonly="workingStudent.mode !=='New' || workingStudent.fee.baseFee <= 0"
                  ng-disabled="!workingStudent.fee.baseFee"
                  ng-change="calculateDiscount('baseFee', 'finalBaseFee', 'discountBaseFee')">
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Security Deposit</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.deposit" readonly>
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Discount <sup>(%)</sup></label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.discountSecurityDeposit" readonly>
                </div>
              </div>
            
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Final Security Deposit Fees</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.finalSecurityDeposit" required ng-readonly="workingStudent.mode !=='New' || workingStudent.fee.securityDeposit <= 0"
                  ng-disabled="!workingStudent.fee.deposit"
                  ng-change="calculateDiscount('deposit', 'finalSecurityDeposit', 'discountSecurityDeposit')">
                </div>
              </div>
            
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Monthly Transport Fees</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.transportFee" ng-readonly="workingStudent.mode!=='New'"
                    ng-change="monthlyTransportFeesChanged(workingStudent.fee)">
                </div>
              </div>
            
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Final Transport Fees</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.finalTransportFees" readonly>
                </div>
              </div> -->
            
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Uniform Charges</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.uniformCharges" ng-readonly="workingStudent.mode!=='New'"
                    ng-change="monthlyUniformChargesChanged(workingStudent.fee)">
                </div>
              </div>
            
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" ng-readonly="true">Stationery Charges</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.stationary" ng-readonly="workingStudent.mode!=='New'"
                    ng-change="monthlyStationeryChargesChanged(workingStudent.fee)">
                </div>
              </div>
            
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Comment*</label>
                  <input class="form-control" type="text" ng-model="workingStudent.fee.comment" ng-readonly="workingStudent.mode!=='New'">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Annual-GST-Fee</label>
                  <input class="form-control" type="text" ng-model="workingStudent.fee.gstFee" readonly>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Base-Fee-GST
                    &nbsp;<a href="#" data-toggle="tooltip" title="18% If Applicable">
                      <i class="fa fa-info"></i>
                    </a>
                  </label>
                  <input class="form-control" type="text" ng-model="workingStudent.fee.baseFeeGst" readonly>
                </div>
              </div>
            
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Final Total Fees</label>
                  <input class="form-control" type="number" ng-model="workingStudent.fee.finalFee" readonly>
                </div>
              </div>
            </div>



          </div>

        </div>
        <div class="tab-pane" id="generatefee" ng-show="workingStudent.mode == 'New'">

        </div>
        <div class="tab-pane active" id="controls">
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="hideSave"></i>
            
            <button class="btn btn-success" ng-click="generatePdf(workingStudent.id)" ng-disabled="pdfGenerate" ng-show="workingStudent.mode=='Show'||workingStudent.mode=='Edit'">Generate PDF
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="pdfGenerate"></i>
            </button>
            <button class="btn btn-rose btn-fill" ng-click="saveStudent(workingStudent)" ng-show="workingStudent.mode=='Edit'||workingStudent.mode=='New'"
            ng-disabled="disableSave">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disableSave"></i>
              Save
            </button>
            <button class="btn btn-default" ng-click="cancelStudent()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>