<div class="col-lg-3 col-md-4 col-sm-4">
  <div class="card card-stats" ng-click="showPanel('centerlist')">
    <div class="card-header" data-background-color="orange">
      <i class="material-icons">store</i>
    </div>
    <div class="card-content">
      <p class="category">Centers</p>
      <h3 class="card-title">{{stats.centers}}</h3>
    </div>
    <div class="card-footer footer-bottom">
      <div class="stats">
        <span>Capacity:{{stats.capacity | number}} | Utilization:{{stats.utilisation | number : 2}} %</span>
      </div>
    </div>
  </div>
</div>