<div class="col-lg-3 col-md-5 col-sm-5">
  <div class="card card-stats" style="min-height: 170px">
    <div class="card-header" data-background-color="orange">
      <i class="material-icons">chrome_reader_mode</i>
    </div>
    <div class="card-content">
      <p class="category">Monthly Fee</p>
      <h3 class="card-title">{{feeStats.monthly.expectedFee.monthly ? feeStats.monthly.expectedFee.monthly : 0 | number}}</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" style="margin-top: 0px">
            <label class="control-label" style="float: left;margin-top: 0px">Month:</label>
            <select class="form-control" ng-model="selectedMonth" ng-options="month.moy as month.name for month in months" ng-change="monthChanged(selectedMonth)"></select>
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" style="margin-top: 0px">
            <label class="control-label" style="float: left;margin-top: 0px">Year:</label>
            <select class="form-control" ng-model="monthlyYear" ng-options="year as year for year in years" ng-change="monthlyYearChanged(monthlyYear)"></select>
            <span class="material-input"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer" ng-click="showFeePanel('Monthly')">
      <div class="stats">
        Collected : {{feeStats.monthly.collectedFee.monthly?feeStats.monthly.collectedFee.monthly:0 | number}}
      </div>
    </div>
  </div>
</div>

<div class="col-lg-3 col-md-5 col-sm-5">
  <div class="card card-stats" style="min-height: 170px">
    <div class="card-header" data-background-color="orange">
      <i class="material-icons">chrome_reader_mode</i>
    </div>
    <div class="card-content">
      <p class="category">Quarterly Fee</p>
      <h3 class="card-title">{{feeStats.quarterly.expectedFee.quarterly ? feeStats.quarterly.expectedFee.quarterly : 0 | number}}</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" style="margin-top: 0px">
            <label class="control-label" style="float: left;margin-top: 0px">Quarter:</label>
            <select class="form-control" ng-model="selectedQuarter" ng-options="quarter.value as quarter.name for quarter in quarters" ng-change="quarterChanged(selectedQuarter)"></select>
            <span class="material-input"></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" style="margin-top: 0px">
            <label class="control-label" style="float: left;margin-top: 0px">Year:</label>
            <select class="form-control" ng-model="quarterlyYear" ng-options="year as year for year in years" ng-change="quarterlyYearChanged(quarterlyYear)"></select>
            <span class="material-input"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer" ng-click="showFeePanel('Quarterly')">
      <div class="stats">
        Collected : {{feeStats.quarterly.collectedFee.quarterly?feeStats.quarterly.collectedFee.quarterly:0 | number}}
      </div>
    </div>
  </div>
</div>
