<div class="col-md-4">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
      <i class="material-icons">chrome_reader_mode</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">Followup Report</h4>
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <thead class="text-primary">
          <tr>
            <th>Center</th>
            <th>Open</th>
            <th>Today</th>
            <th>Due</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="report in followupreportlist">
            <td ng-click="showFollowups(report.centerCode)">{{report.centerCode}}</td>
            <td ng-click="showFollowups(report.centerCode)">{{report.openFollowUps}}</td>
            <td ng-click="showFollowups(report.centerCode)">{{report.todayFollowUps}}</td>
            <td ng-click="showFollowups(report.centerCode)">{{report.previousFollowUps}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="col-md-8" ng-show="showfollowups">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
      <i class="material-icons">chrome_reader_mode</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">Followups for <strong>{{showfollowups}}</strong></h4>
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <thead class="text-primary">
          <tr>
            <th>Inquiry Number</th>
            <th>Disposition</th>
            <th>CallBack Date</th>
            <th>CallBack Number</th>
            <th>Comment</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="followUp in followUps | orderBy:'-callBack'">
            <td ng-click="openInquiry(followUp.inquiryId)">{{followUp.inquiryNumber}}</td>
            <td ng-click="openInquiry(followUp.inquiryId)">{{followUp.callDisposition}}</td>
            <td ng-click="openInquiry(followUp.inquiryId)">{{followUp.callBack}}</td>
            <td ng-click="openInquiry(followUp.inquiryId)">{{followUp.callBackNumber}}</td>
            <td ng-click="openInquiry(followUp.inquiryId)">{{followUp.comment}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>