<div class="col-lg-3 col-md-4 col-sm-4">
  <div class="card card-stats" ng-click="showPanel('studentlist')">
    <div class="card-header" data-background-color="orange">
      <i class="material-icons">account_box</i>
    </div>
    <div class="card-content">
      <p class="category">Students</p>
      <h3 class="card-title">{{stats.students | number}}</h3>
    </div>
    <div class="card-footer footer-bottom">
      <div class="stats">
        <span>Present:{{stats.studentPresent | number}}</span>
        <!-- <span>Absent:{{stats.students-stats.studentPresent | number}}</span> -->
        &nbsp;|&nbsp;
        <span>C:{{stats.corporateStudents | number}}</span>
        <span>NC:{{(stats.students - stats.corporateStudents) | number}}</span>
      </div>
    </div>
  </div>
</div>