<div class="card">
  <div class="card-header card-header-icon" data-background-color="rose">
    <i class="material-icons">account_box</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">Students</h4>
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <thead class="text-primary">
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Program</th>
          <th>Group</th>
          <th>Corporate</th>
          <th>Present</th>
          <th>Checkin</th>
          <th>Checkout</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in studentsPage" ng-click="showStudent(student)">
          <td>{{ (PAGESIZE * (studentsPageNumber - 1)) + $index + 1}}</td>
          <td>{{student.name}}</td>
          <td>{{student.program}}</td>
          <td>{{student.group}}</td>
          <td>{{student.corporate}}</td>
          <td>{{student.present}}</td>
          <td>{{student.checkin}}</td>
          <td>{{student.checkout}}</td>
        </tr>

        <tr>
          <td colspan="7" style="background: #fff">
            <ul class="pagination pagination-info">
              <li ng-show="studentsPageNumber!=1" style="cursor: pointer;">
                <a ng-click="updateStudentPage(studentsPageNumber-1)"> prev
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li href="#" ng-repeat="page in studentPageBar" ng-class="{active: page==studentsPageNumber}" style="cursor: pointer;">
                <a ng-click="updateStudentPage(page)"> {{page}}
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li ng-show="studentsPageCount>studentsPageNumber" style="cursor: pointer;">
                <a ng-click="updateStudentPage(studentsPageNumber+1)">next
                  <div class="ripple-container"></div>
                </a>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>