<div class="col-lg-3 col-md-4 col-sm-4">
  <div class="card card-stats">
    <div class="card-header" data-background-color="orange">
      <i class="material-icons">account_box</i>
    </div>
    <div class="card-content">
      <p class="category">Students</p>
      <h3 class="card-title">{{stats.students | number}}</h3>
    </div>
    <div class="card-footer footer-bottom">
      <div class="stats">
        <p style="margin: 0">
          <a href="#" ng-click="filterStudents('present')">Present</a> : {{stats.studentPresent | number}}
          &nbsp;|&nbsp;
          <a href="#" ng-click="filterStudents('absent')">Absent</a> : {{stats.students-stats.studentPresent | number}}
        </p>
        <p style="margin: 0">
          <a href="#" ng-click="filterStudents('corporate')">Corporate</a> : {{stats.corporateStudents | number}} &nbsp;|&nbsp;
          <a href="#" ng-click="filterStudents('non_corporate')">Non-Corporate</a> : {{(stats.students - stats.corporateStudents) | number}}
        </p>
      </div>
    </div>
  </div>
</div>