<div class="card">
  <div class="card-header card-header-icon" data-background-color="rose">
    <i class="material-icons">account_box</i>
  </div>
  <div class="card-content">
    <i class="fa fa-spinner fa-fw fa-pulse fa-2x text-primary" ng-show="loader" style="float: right"></i>
    <h4 class="card-title">{{listFor}} Students</h4>
    <div class="table-responsive" ng-show="studentsPage.length">
      <table class="table table-condensed table-striped table-hover">
        <thead class="text-primary">
          <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Program</th>
            <th>Group</th>
            <th ng-show="listFor == 'Present'">Corporate</th>
            <th ng-hide="listFor == 'Present'">Present</th>
            <th ng-hide="listFor == 'Present'">Expected In</th>
            <th>Checkin</th>
            <th >Expected Out</th>
            <th ng-hide="listFor == 'Present'">Checkout</th>
            <th ng-hide="listFor == 'Present'">Extra Hours</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in studentsPage" ng-click="showStudent(student)">
          <td>{{ (PAGESIZE * (studentsPageNumber - 1)) + $index + 1}}</td>
          <td>{{student.name}}</td>
          <td>{{student.program}}</td>
          <td>{{student.group}}</td>
          <td ng-show="listFor == 'Present'">{{student.corporate}}</td>
          <td ng-hide="listFor == 'Present'">{{student.present}}</td>
          <td ng-hide="listFor == 'Present'">{{student.expectedIn}}</td>
          <td>{{student.checkin}}</td>
          <td >{{student.expectedOut}}</td>
          <td ng-hide="listFor == 'Present'">{{student.checkout}}</td>
          <td ng-hide="listFor == 'Present'">{{student.extraHours}}</td>>
        </tr>
        <tr ng-show="!studentsPage.length && !dataLoading">
          <td colspan="11">No Data to Show</td>
        </tr>
        <tr ng-show="dataLoading">
          <td colspan="11">Loading...</td>
        </tr>

        <tr ng-show="studentsPage.length">
          <td colspan="11" style="background: #fff">
            <ul class="pagination pagination-info">
              <li ng-show="studentsPageNumber!=1" style="cursor: pointer;">
                <a ng-click="updateStudentPage(studentsPageNumber-1)"> prev
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li href="#" ng-repeat="page in studentPageBar" ng-class="{active: page==studentsPageNumber}" style="cursor: pointer;">
                <a ng-click="updateStudentPage(page)"> {{page}}
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li ng-show="studentsPageCount>studentsPageNumber" style="cursor: pointer;">
                <a ng-click="updateStudentPage(studentsPageNumber+1)">next
                  <div class="ripple-container"></div>
                </a>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>