/* You can add global styles to this file, and also import other style files */
/* body{
    background-color: white;
} */
.transition {
    transition: all .3s linear;
}

.table-responsive {
height: 60vh;
overflow: auto;
}
.table th {
text-transform: capitalize;
}

.margin-right-5{
    margin-right: 5px;
}

/* form-input label */
.form-check, label {
  font-size: 13px;
}

.nav .nav-item a[aria-expanded=true] .caret, .nav .nav-item a[data-toggle=collapse][aria-expanded=true] .caret {
    transform: rotate(180deg);
}
select.form-control {
    border: solid 1px #ddd;
    background: white;
    padding: 0 0 0 10px;
    font-weight: lighter;
    background-image: inherit !important;
    -webkit-appearance: menulist-button !important;
  }


  .card-footer a.link {
    color: #212121 !important;
    display: inline-block;
    width: 100%;
    font-size: 14px;
  }
  .card-footer a.link:hover{
    color: #fb8c00 !important;
  }
  
  a{
    color: #212121 !important;
  }
  a:hover{
    color: #fb8c00 !important;
  }
  .card-title a.link{
    color: #212121 !important;
  }
  

  