<div class="row">

  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">account_box</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Checkout details</h4>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Student Name</label>
              <input class="form-control" ng-model="checkoutDetails.studentName" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Center</label>
              <input class="form-control" ng-model="checkoutDetails.centerName" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Program</label>
              <input class="form-control" ng-model="checkoutDetails.programName" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Group</label>
              <input class="form-control" ng-model="checkoutDetails.groupName" readonly>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Payable Amount</label>
              <input class="form-control" ng-model="checkoutDetails.feeAmount" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Duration</label>
              <input class="form-control" ng-model="checkoutDetails.duration" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Period</label>
              <input class="form-control" ng-model="checkoutDetails.period" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Status</label>
              <input class="form-control" ng-model="checkoutDetails.paymentStatus" readonly>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input class="form-control" ng-model="checkoutDetails.billing_name" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Address</label>
              <input class="form-control" ng-model="checkoutDetails.billing_address" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">City</label>
              <input class="form-control" ng-model="checkoutDetails.billing_city" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">State</label>
              <input class="form-control" ng-model="checkoutDetails.billing_state" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Country</label>
              <input class="form-control" ng-model="checkoutDetails.billing_country" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Zip</label>
              <input class="form-control" ng-model="checkoutDetails.billing_zip" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Contact Number</label>
              <input class="form-control" ng-model="checkoutDetails.billing_tel" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Email</label>
              <input class="form-control" ng-model="checkoutDetails.billing_email" readonly>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer text-center">
        <button class="btn btn-rose" ng-click="checkout()" ng-disabled="checkoutDetails.paymentStatus=='Paid'">checkout</button>
      </div>
    </div>
  </div>


  <form id="checkout-form" action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction" method="post">

    <input type="hidden" name="merchant_id" value="{{checkoutDetails.merchantId}}">
    <input type="hidden" name="access_code" value="{{checkoutDetails.accessCode}}">
    <input type="hidden" name="encRequest"  value="{{checkoutDetails.encRequest}}">

  </form>

</div>