<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">account_box</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Transaction details</h4>
        <div class="row">

          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Tracking Id</label>
              <input class="form-control" ng-model="responseDetails.trackingId" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Order Id</label>
              <input class="form-control" ng-model="responseDetails.orderId" readonly>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label">Amount</label>
              <input class="form-control" ng-model="responseDetails.amount" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Stauts</label>
              <input class="form-control" ng-model="responseDetails.status" readonly>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Student Name</label>
              <input class="form-control" ng-model="responseDetails.studentName" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Center Name</label>
              <input class="form-control" ng-model="responseDetails.centerName" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Program Name</label>
              <input class="form-control" ng-model="responseDetails.programName" readonly>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Billing Name</label>
              <input class="form-control" ng-model="responseDetails.billingName" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Billing Email</label>
              <input class="form-control" ng-model="responseDetails.billingEmail" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Billing Tel</label>
              <input class="form-control" ng-model="responseDetails.billingTel" readonly>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Billing Address</label>
              <input class="form-control" ng-model="responseDetails.billingAddress" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Billing City</label>
              <input class="form-control" ng-model="responseDetails.billingCity" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Billing State</label>
              <input class="form-control" ng-model="responseDetails.billingState" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Billing Zip</label>
              <input class="form-control" ng-model="responseDetails.billingZip" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Billing Country</label>
              <input class="form-control" ng-model="responseDetails.billingCountry" readonly>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
