<div class="row">
  <div class="col-md-1">
    <div class="form-group">
      <input style="margin-top: 28px;" type="checkbox" ng-model="pullDryRun">DryRun
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">from: </label>
      <input class="form-control datepicker" type="text" id="pullFrom" ng-model="pullFrom">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">to:</label>
      <input class="form-control datepicker" type="text" id="pullTo" ng-model="pullTo">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <button class="btn btn-sm" ng-click="pullAttendance(pullFrom, pullTo)"
              ng-disabled="disablePullBtn">
        <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disablePullBtn"></i>
        Pull
      </button>
    </div>
  </div>
</div>


<div class="row">
</div>
<div class="col-md-4">
  <input type="file" file-model="file" style="margin-top: 20px;">
</div>
<div class="col-md-3">
  <button class="btn btn-sm btn-rose" style="margin-top: 20px;" ng-click="uploadExcel()" ng-disabled="disableUploadBtn">
    <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disableUploadBtn"></i>upload
  </button>
</div>

<!-- uncomment for Excel import -->
<!--<div class="col-md-3">-->
<!--<button class="btn btn-sm btn-rose" style="margin-top: 20px;" ng-click="uploadExcel()" ng-disabled="disableUploadBtn">-->
<!--<i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disableUploadBtn"></i>upload excel-->
<!--</button>-->
<!--</div>-->

</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search" ng-model="searchStaffName">
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4" ng-repeat="staff in stafflist | orderBy:attendanceSorter | filter:searchStaffName">
    <div class="card card-profile">
      <div class="card-avatar">
        <a>
          <img class="img" ng-src="{{staff.imgPath}}"/>
        </a>
      </div>
      <div class="card-content">
        <h4 class="card-title">{{staff.fullName}}</h4>
        <div>
          <div class="row">
            <div class="hidden-md hidden-sm hidden-xs col-lg-6">Center:</div>
            <div class="col-lg-6">{{staff.center}}</div>
          </div>
          <div class="row">
            <div class="hidden-md hidden-sm hidden-xs col-lg-6">EID:</div>
            <div class="col-lg-6">{{staff.eid}}</div>
          </div>
          <div class="row">
            <div class="hidden-md hidden-sm hidden-xs col-lg-6">mobile:</div>
            <div class="col-lg-6">{{staff.mobile}}</div>
          </div>
          <div class="row">
            <div class="hidden-md hidden-sm hidden-xs col-lg-6">Expected In:</div>
            <div class="col-lg-6">{{staff.exceptedIn}}</div>
          </div>
          <div class="row">
            <div class="hidden-md hidden-sm hidden-xs col-lg-6">Expected Out:</div>
            <div class="col-lg-6">{{staff.exceptedOut}}</div>
          </div>
          <div class="row">
            <div class="hidden-md hidden-sm hidden-xs col-lg-6">ClockIn:</div>
            <div class="col-lg-6">{{staff.actualIn}}</div>
          </div>
          <div class="row">
            <div class="hidden-md hidden-sm hidden-xs col-lg-6">ClockOut:</div>
            <div class="col-lg-6">{{staff.actualIn}}</div>
          </div>
          <div class="row">
            <div class="hidden-md hidden-sm hidden-xs col-lg-6">Holiday:</div>
            <div class="col-lg-6">{{staff.calendarHoliday?"YES":"NO"}}</div>
          </div>
          <div class="row">
            <div class="hidden-md hidden-sm hidden-xs col-lg-6">On Leave:</div>
            <div class="col-lg-6">{{staff.onLeave?staff.halfLeave ? 'YES (Half)':'YES(Full)' :"NO"}}</div>
          </div>
        </div>
        <!--<a class="btn btn-fab-mini btn-round" ng-click="singleLeave(staff.eid)" ng-hide="staff.actualIn || staff.actualOut">{{staff.onLeave?"CANCEL LEAVE":"MARK LEAVE"}}</a>-->

        <button class="btn btn-fab-mini btn-round" ng-click="singleLeave(staff.eid,false)"
                ng-hide="staff.actualIn || staff.actualOut || staff.onLeave">
          Fullday Leave
        </button>
        <button class="btn btn-fab-mini btn-round" ng-click="singleLeave(staff.eid,true)"
                ng-hide="staff.onLeave">
          Halfday Leave
        </button>
        <button class="btn btn-fab-mini btn-round" ng-click="singleLeave(staff.eid,true)"
                ng-show="staff.onLeave">
          Cancel Leave
        </button>

        <button class="btn btn-rose btn-round" ng-click="clockin(staff)" ng-show="!staff.onLeave && staff.status==='Absent'" ng-disabled="staff.clockinDisabled">
          <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="staff.clockinDisabled"></i>
          Clock In
        </button>
        <button class="btn btn-rose btn-round" ng-click="clockout(staff)" ng-show="!staff.onLeave && staff.status=='Present' && !staff.actualOut"
                ng-disabled="staff.clockoutDisabled">
          <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="staff.clockoutDisabled"></i>
          Clock Out
        </button>
      </div>
    </div>
  </div>
</div>