<div class="row">
  <div class="col-md-3">
    <div class="form-group">
        <label class="control-label"></label>
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchStudentName">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="control-label">Center:</label>
      <select class="form-control" ng-model="selectedCenter" ng-options="center as center.name for center in centers" ng-change="centerChange(selectedCenter)">
        <option value="">ALL</option>
      </select>
    </div>
  </div>
  <div class="col-md-3" ng-show="programs.length">
    <div class="form-group">
      <label class="control-label">Program*</label>
      <select class="form-control" ng-model="selectedProgram" ng-options="program as program.name for program in programs" ng-change="programChange(selectedProgram)">
          <option value="">ALL</option>
      </select>
    </div>
  </div>
  <div class="col-md-3" ng-show="selectedProgram">
    <button class="btn btn-rose btn-round" ng-click="presentFilteredStudent()">Present</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4" ng-repeat="student in students | orderBy:attendanceSorter | filter:searchStudentName">
    <div class="card card-profile">
      <div class="card-avatar">
        <a>
          <img class="img" src="/assets/img/default-avatar.png" ng-hide="student.img"/>
          <img class="img" ng-src="{{'http://ipsaaprod.s3-website.ap-south-1.amazonaws.com/'+ student.img}}" ng-show="student.img"/>
        </a>
      </div>
      <div class="card-content">
        <h4 class="card-title">{{student.fullName}}</h4>
        <div>
          <div class="row"><div class="hidden-md hidden-sm hidden-xs col-lg-6">Center:</div><div class="col-lg-6">{{student.center}}</div></div>
          <div class="row"><div class="hidden-md hidden-sm hidden-xs col-lg-6">Program:</div><div class="col-lg-6">{{student.program}}</div></div>
          <div class="row"><div class="hidden-md hidden-sm hidden-xs col-lg-6">Group:</div><div class="col-lg-6">{{student.group}}</div></div>
          <div class="row"><div class="hidden-md hidden-sm hidden-xs col-lg-6">Parent (s):</div><div class="col-lg-6">{{student.parent || "NA"}}</div></div>
          <div class="row"><div class="hidden-md hidden-sm hidden-xs col-lg-6">Expected In:</div><div class="col-lg-6">{{student.expectedIn || '&nbsp;'}}</div></div>
          <div class="row"><div class="hidden-md hidden-sm hidden-xs col-lg-6">Expected Out:</div><div class="col-lg-6">{{student.expectedOut || '&nbsp;'}}</div></div>
          <div class="row"><div class="hidden-md hidden-sm hidden-xs col-lg-6">Actual In:</div><div class="col-lg-6">{{student.actualIn || '&nbsp;'}}</div></div>
          <div class="row"><div class="hidden-md hidden-sm hidden-xs col-lg-6">Actual Out:</div><div class="col-lg-6">{{student.actualOut || '&nbsp;'}}</div></div>
          <div class="row"><div class="hidden-md hidden-sm hidden-xs col-lg-6">Status:</div><div class="col-lg-6">{{student.status}}</div></div>
        </div>
        <button class="btn btn-rose btn-round" ng-click="clockin(student)" ng-show="student.status==='Absent'" ng-disabled="student.clockinDisabled">
          <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="student.clockinDisabled"></i>
          Clock In
        </button>
        <button class="btn btn-rose btn-round" ng-click="clockout(student)" ng-show="student.status=='Present' && !student.actualOut" ng-disabled="student.clockoutDisabled">
          <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="student.clockoutDisabled"></i>
          Clock Out
        </button>
      </div>
    </div>
  </div>
</div>