<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">account_box</i>
      </div>
      <div class="card-content">
        <div style="margin-top: 50px"></div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <button class="btn btn-sm" ng-click="editPhoto({},'New')">new</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Center:</label>
              <select class="form-control" ng-model="selectedCenter"
                      ng-change="loadFilterStudents(selectedCenter)"
                      ng-options="center as center.name for center in centers track by center.id">
                <option value="">Select Center</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Student:</label>
              <select class="form-control" ng-model="selectedStudent"
                      ng-options="student as student.fullName for student in filterStudents track by student.id">
                <option value="">Select Student</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label">From:</label>
              <input class="form-control datepicker" id="from" ng-model="from">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="control-label">To:</label>
              <input class="form-control datepicker" id="to" ng-model="to">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <button class="btn btn-sm" ng-click="loadPhotos()">load</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" ng-repeat="photo in photos | startFrom:currentPage*pageSize | limitTo:pageSize">
            <div style="height: 150px;width: 150px;" ng-click="editPhoto(photo)">
              <img class="img-rounded"
                   style="height: 100px; width: 100px"
                   ng-src="{{S3URL+photo.imagePath}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-sm" ng-click="previousPage()" ng-disabled="currentPage == 0">Previous</button>
            <button class="btn btn-sm" ng-click="nextPage()" ng-disabled="numberOfPages()-1 == currentPage">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">account_box</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">{{photo.mode}} Photo</h4>
        <form name="PhotoForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Photo Type:</label>
                <select class="form-control" ng-model="photo.type" ng-change="loadStudents(photo)"
                        ng-options="type as type for type in ['Student','Center']"></select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Center:</label>
                <select class="form-control" ng-model="photo.center" ng-change="loadStudents(photo)"
                        ng-options="center as center.name for center in centers track by center.id"></select>
              </div>
            </div>
            <div class="col-md-4" ng-show="photo.type=='Student'">
              <div class="form-group">
                <label class="control-label">Student:</label>
                <select class="form-control" ng-model="photo.student" ng-options="student as student.fullName for student in students track by student.id"></select>
              </div>
            </div>

            <div class="col-md-12">
              <input class="btn btn-primary btn-sm" id="files" accept="image/*"
                     type="file" multiple/>
            </div>
            <div class="row">
              <div class="col-md-4" ng-repeat="uri in filesURI" style="padding: 15px">
                <div class="photo">
                  <img id="img" ng-src="{{uri}}">
                </div>
              </div>
            </div>
          </div>
          <div class="category form-category">
            *Required Fields
          </div>
          <div class="form-footer text-right">
            <button class="btn btn-rose btn-fill"
                    ng-click="save(photo)"
                    ng-disabled="PhotoForm.$invalid || saveDisabled">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="saveDisabled"></i>
              Save
            </button>
            <button class="btn btn-default" ng-click="editPhoto({},'New')">Cancel</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>