
                <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <legend>Call Log</legend>
                          </div>
                        </div>
                     
          
                          <div class="form-group ipsaa-form-group col-md-2">
                            <label class="control-label">Disposition</label>
                            <!-- <select class="form-control" name="callDisposition" >
                              <option selected="selected" value="">Select Disposition</option>
                              <option *ngFor="let disposition of dispositions;" [value]="disposition">{{disposition}}
                              </option>
                            </select> -->
                          </div>
          
                          <!-- <div *ngIf="logs.callDisposition=='NewInquiry'||
                                  this.induiryForm.controls.logs.get('callDisposition').value ==='Followup'||
                                 this.induiryForm.logs.callDisposition=='Callback'||
                                  this.induiryForm.logs.callDisposition=='ParentMessage'||
                                  this.induiryForm.logs.callDisposition=='Revisit'">
                            <div class="form-group ipsaa-form-group col-md-2">
                              <div class="form-group ipsaa-form-group">
                                <label class="control-label">Callback Date (YYYY-MM-DD)</label>
                                <input class="form-control datepicker" id="callBackDate" name="workingInquiry.log.callBackDate"
                                  type="text" formControlName="log.callBackDate">
                              </div>
                            </div>
                            <div class="form-group ipsaa-form-group col-md-2">
                              <div class="form-group ipsaa-form-group">
                                <label class="control-label">Callback Time (HH:MM)</label>
                                <input class="form-control timepicker" id="callBackTime" name="workingInquiry.log.callBackTime"
                                  type="text" formControlName="log.callBackTime">
                              </div>
                            </div>
                            <div class="form-group ipsaa-form-group col-md-2">
                              <div class="form-group ipsaa-form-group">
                                <label class="control-label">Callback Number</label>
                                <input class="form-control dropdown-toggle" data-toggle="dropdown" name="workingInquiry.log.callBackNumber"
                                  type="text" formControlName="log.callBackNumber">
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                  <li ng-repeat="number in inquiryNumbers | filter: workingInquiry.log.callBackNumber">
                                    <a (click)="workingInquiry.log.callBackNumber = number">{{number}}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div> -->
          
                      
                      </div>
          
                      <div class="row">
                        <div class="form-group ipsaa-form-group col-md-8">
                          <div class="form-group ipsaa-form-group">
                            <label class="control-label">Comment</label>
                            <textarea class="form-control" row="5" maxlength="500"></textarea> 
                          </div>
                        </div>
                      </div>
          
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <legend>History</legend>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="table-responsive">
                            <table class="table table-condensed table-striped table-hover">
                              <thead class="text-primary">
                                <tr>
                                  <th>Disposition</th>
                                  <th>CallBack Date</th>
                                  <th>CallBack Number</th>
                                  <th>Comment</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor=" let log of inquiryLogs.logs ">
                                  <td>{{log.callDisposition}}</td>
                                  <td>{{log.callBack}}</td>
                                  <td>{{log.callBackNumber}}</td>
                                  <td>{{log.comment}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>