.card-footer p{
  margin-bottom: 0px;
}
.link {
  color: #9c27b0 !important;
  cursor: pointer;
}
.card .card-stats {
  cursor: pointer;
}

.main-panel .navbar{
  background-color: white !important;
}

.form-control {
  border: solid 1px #ddd;
  background: white;
  padding: 0 0 0 10px;
  font-weight: lighter;
  background-image: inherit !important;
}

/* .main-panel.ps {
  background: #fafafa !important;
} */

.card{
  min-height: 280px;
}


      
